// =============================================================================

    // Clone
    // Core

// =============================================================================

// User Variables ==============================================================
@import "../scss/core/_defaults.scss";
@import "../scss/core/_media.scss";
@import "../scss/slick.scss";

    // Core System Files =======================================================
    @import "../scss/core/_system.scss";
    @import "../scss/core/_utilities.scss";
    @import "../scss/core/_typography.scss";

    // Grids ===================================================================

        // Available media queries (MQ) include:
            // pp (Phone: Portrait)
            // pl (Phone: Landscape)
            // tp (Tablet: Portrait)
            // tl (Tablet: Landscape)
            // ds (Desktop: Small)
            // dm (Desktop: Medium)
            // dl (Desktop: Large)
        
        @import "../scss/core/_flexbox-grid.scss";

    // Navigation ==============================================================

        @import "../scss/components/_menus.scss";

    // Components ==============================================================

        // Accordions
        @import "../scss/components/_accordion.scss";

        // Alerts
        @import "../scss/components/_alert.scss";

        // Back-to-top Links
        @import "../scss/components/_back-to-top-link.scss";

        // Blockquote
        @import "../scss/components/_blockquote.scss";

        // Breadcrumbs
        @import "../scss/components/_breadcrumbs.scss";

        // Buttons
        @import "../scss/components/_button.scss";

        // Cards

        // Carousels
        @import "../scss/components/_carousel.scss";

        // Code
        @import "../scss/components/_code.scss";

        // Dialogs
        @import "../scss/components/_dialog.scss";

        // Iframes
        @import "../scss/components/_iframe.scss";

        // Inputs
        @import "../scss/components/_inputs.scss";

        // Pullquotes
        @import "../scss/components/_pullquote.scss";

        // Skip-to-content
        @import "../scss/components/_skip-to-content-link.scss";

        // Tables
        @import "../scss/components/_table.scss";

        body {
            margin: 0;
            max-width: 100%;
            min-height: 100vh;
            position: relative;
            width: 100%;
        }