// =============================================================================

    // Clone
    // Core

// =============================================================================

// User Variables ==============================================================
@import "core/defaults";
@import "core/media";
@import "core/glider";
@import "core/functions";

// Navigation ==================================================================
@import "components/menus";

body[data-clone] {
    margin: 0;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

[data-clone] {

    // Core System Files =======================================================
    @import "core/system";
    @import "core/typography";
    @import "core/utilities";

    // Grids ===================================================================

        // Available media queries (MQ) include:
            // pp (Phone: Portrait)
            // pl (Phone: Landscape)
            // tp (Tablet: Portrait)
            // tl (Tablet: Landscape)
            // ds (Desktop: Small)
            // dm (Desktop: Medium)
            // dl (Desktop: Large)
        
        @import "core/flexbox-grid";

    // Components ==============================================================

        // Accordions
        @import "components/accordion";

        // Alerts
        @import "components/alert";

        // Back-to-top Links
        @import "components/back-to-top-link";

        // Blockquote
        @import "components/blockquote";

        // Breadcrumbs
        @import "components/breadcrumbs";

        // Buttons
        @import "components/button";

        // Cards

        // Carousels
        @import "components/carousel";

        // Code
        @import "components/code";

        // Dialogs
        @import "components/dialog";

        // Iframes
        @import "components/iframe";

        // Inputs
        @import "components/inputs";

        // Pullquotes
        @import "components/pullquote";

        // Skip-to-content
        @import "components/skip-to-content-link";

        // Tables
        @import "components/table";

        // Tags
        @import "components/tag";

}
