// Clone

// Variables
@import "core/defaults";

// Plugins
    // Glider
    @import "core/glider";

// Sass Functions
@import "core/functions";

// Menus
@import "components/menus";

html,
body[data-clone] {
    margin: 0;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

[data-clone] {

    // Core System Files
    @import "core/system";
    @import "core/maps";

    // System Typography
    @import "core/typography";

    // Properties
    @import "properties/alignment";
    @import "properties/background-colors";
    @import "properties/borders";
    @import "properties/cards";
    @import "properties/containers";
    @import "properties/display";
    @import "properties/horizontal-rules";
    @import "properties/margins";
    @import "properties/padding";
    @import "properties/overlays";
    @import "properties/radius";
    @import "properties/typography";
    @import "properties/visibility";

    // Grid
    // Available media queries (MQ) include:
        // pp (Phone: Portrait)
        // pl (Phone: Landscape)
        // tp (Tablet: Portrait)
        // tl (Tablet: Landscape)
        // ds (Desktop: Small)
        // dm (Desktop: Medium)
        // dl (Desktop: Large)
    @import "core/flexbox-grid";

    // Components
    @import "components/accordion";
    @import "components/alert";
    @import "components/back-to-top-link";
    @import "components/blockquote";
    @import "components/breadcrumbs";
    @import "components/button";
    @import "components/carousel";
    @import "components/code";
    @import "components/dialog";
    @import "components/iframe";
    @import "components/inputs";
    @import "components/pullquote";
    @import "components/skip-to-content-link";
    @import "components/table";
    @import "components/tag";

}