<div data-c-carousel-wrapper>
    <div data-c-carousel="content">
        <!-- Carousel Item (Repeat as Necessary) -->
        <div data-c-carousel-item style="background-image:url('');">
            <div data-c-padding="base(all, 1)" data-c-background-color="base(black, 100)" data-c-margin="base(tb, 3)">
                <!-- Slide Title -->
                <h5 data-c-margin="base(bottom, .5)" data-c-font-weight="base(bold)" data-c-color="base(white)">Slide Title</h5>
                <!-- Slide Content -->
                <p data-c-color="base(white)">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias architecto exercitationem maiores non iure quas nulla aut nostrum? Eveniet iusto sint ab incidunt blanditiis, vitae quasi debitis illum qui repudiandae!</p>
            </div>
        </div>
    </div>
    <button role="button" aria-label="Previous" data-c-carousel-arrow="prev"><i class="material-icons">arrow_back_ios</i></button>
    <button role="button" aria-label="Next" data-c-carousel-arrow="next"><i class="material-icons">arrow_forward_ios</i></button>
    <div role="tablist" data-c-carousel-dots></div>
</div>