// =============================================================================

    // Clone
    // Default Variables

// =============================================================================

$font--sans: "Open Sans", sans-serif !default;
$font--serif: serif !default;
$font--script: "Euphoria Script", cursive !default;
$font--monospace: "Consolas", mono-space !default;

$font-scale: 1.333 !default;

$line-height: 1.5 !default;

$margin: 2rem !default;
$padding: 2rem !default;

$white: #FFFFFF !default;
$black: #333333 !default;

$grey: gray !default;
$grey--light: lighten($grey, 10%) !default;
$grey--dark: darken($grey, 10%) !default;

$gray: $grey;
$gray--light: $grey--light;
$gray--dark: $grey--dark;

$c1: #5B1647 !default;
$c1--light: lighten($c1, 10%) !default;
$c1--dark: darken($c1, 10%) !default;

$c2: #96043E !default;
$c2--light: lighten($c2, 10%) !default;
$c2--dark: darken($c2, 10%) !default;

$c3: #C90035 !default;
$c3--light: lighten($c3, 10%) !default;
$c3--dark: darken($c3, 10%) !default;

$c4: black !default;
$c4--light: lighten($c4, 10%) !default;
$c4--dark: darken($c4, 10%) !default;

$c5: black !default;
$c5--light: lighten($c5, 10%) !default;
$c5--dark: darken($c5, 10%) !default;

$alert--information: $c1 !default;
$alert--warning: #d3811d !default;
$alert--error: $c3 !default;
