// =============================================================================

    // Clone
    // Grid (Internet Explorer)

// =============================================================================

body[id*="Trident/7.0"] {

    [data-clone-grid-item] {
        max-width: 100%;
    }

    @for $i from 1 through $clone__grid-columns {
        @for $r from 1 through $clone__grid-columns {
            [data-clone-grid-item*="base(#{$i}of#{$r})"] {
                max-width: ($i / $r * 100%);
            }
            @media #{$clone__phone-portrait} {
                [data-clone-grid-item*="pp(#{$i}of#{$r})"] {
                    max-width: ($i / $r * 100%);
                }
            }
            @media #{$clone__phone-landscape} {
                [data-clone-grid-item*="pl(#{$i}of#{$r})"] {
                    max-width: ($i / $r * 100%);
                }
            }
            @media #{$clone__tablet-portrait} {
                [data-clone-grid-item*="tp(#{$i}of#{$r})"] {
                    max-width: ($i / $r * 100%);
                }
            }
            @media #{$clone__tablet-landscape} {
                [data-clone-grid-item*="tl(#{$i}of#{$r})"] {
                    max-width: ($i / $r * 100%);
                }
            }
            @media #{$clone__desktop-small} {
                [data-clone-grid-item*="ds(#{$i}of#{$r})"] {
                    max-width: ($i / $r * 100%);
                }
            }
            @media #{$clone__desktop-medium} {
                [data-clone-grid-item*="dm(#{$i}of#{$r})"] {
                    max-width: ($i / $r * 100%);
                }
            }
            @media #{$clone__desktop-large} {
                [data-clone-grid-item*="dl(#{$i}of#{$r})"] {
                    max-width: ($i / $r * 100%);
                }
            }
        }
    }

}
