// =============================================================================

    // Clone
    // Flexbox Grid

// =============================================================================

// The Grid ====================================================================

    [data-clone-grid] {
        display: flex;
        flex-wrap: wrap;
    }

    [data-clone-grid*="top"] {
        align-items: flex-start;
    }

    [data-clone-grid*="middle"] {
        align-items: center;
    }

    [data-clone-grid*="bottom"] {
        align-items: flex-end;
    }

    [data-clone-grid*="gutter"] {
        margin: calc((#{$clone__margin} / 2) * -1);
        @media #{$clone__tablet-portrait} {
            margin: calc(((#{$clone__margin} / 2) * #{$clone__whitespace-multiplier}) * -1);
        }
        @media #{$clone__desktop-large} {
            margin: calc((((#{$clone__margin} / 2) * #{$clone__whitespace-multiplier}) * #{$clone__whitespace-multiplier}) * -1);
        }
        >[data-clone-grid-item] {
            padding: calc(#{$clone__padding} / 2);
            @media #{$clone__tablet-portrait} {
                padding: calc((#{$clone__padding} / 2) * #{$clone__whitespace-multiplier});
            }
            @media #{$clone__desktop-large} {
                padding: calc(((#{$clone__padding} / 2) * #{$clone__whitespace-multiplier}) * #{$clone__whitespace-multiplier});
            }
        }
    }

    [data-clone-grid*="gutter(vertical)"] {
        margin-top: calc((#{$clone__margin} / 2) * -1);
        margin-bottom: calc((#{$clone__margin} / 2) * -1);
        @media #{$clone__tablet-portrait} {
            margin-top: calc(((#{$clone__margin} / 2) * #{$clone__whitespace-multiplier}) * -1);
            margin-bottom: calc(((#{$clone__margin} / 2) * #{$clone__whitespace-multiplier}) * -1);
        }
        @media #{$clone__desktop-large} {
            margin-top: calc((((#{$clone__margin} / 2) * #{$clone__whitespace-multiplier}) * #{$clone__whitespace-multiplier}) * -1);
            margin-bottom: calc((((#{$clone__margin} / 2) * #{$clone__whitespace-multiplier}) * #{$clone__whitespace-multiplier}) * -1);
        }
        >[data-clone-grid-item] {
            padding-top: calc(#{$clone__padding} / 2);
            padding-bottom: calc(#{$clone__padding} / 2);
            @media #{$clone__tablet-portrait} {
                padding-top: calc((#{$clone__padding} / 2) * #{$clone__whitespace-multiplier});
                padding-bottom: calc((#{$clone__padding} / 2) * #{$clone__whitespace-multiplier});
            }
            @media #{$clone__desktop-large} {
                padding-top: calc(((#{$clone__padding} / 2) * #{$clone__whitespace-multiplier}) * #{$clone__whitespace-multiplier});
                padding-bottom: calc(((#{$clone__padding} / 2) * #{$clone__whitespace-multiplier}) * #{$clone__whitespace-multiplier});
            }
        }
    }

    [data-clone-grid*="gutter(sides)"],
    [data-clone-grid*="gutter(horizontal)"] {
        margin-right: calc((#{$clone__margin} / 2) * -1);
        margin-left: calc((#{$clone__margin} / 2) * -1);
        @media #{$clone__tablet-portrait} {
            margin-right: calc(((#{$clone__margin} / 2) * #{$clone__whitespace-multiplier}) * -1);
            margin-left: calc(((#{$clone__margin} / 2) * #{$clone__whitespace-multiplier}) * -1);
        }
        @media #{$clone__desktop-large} {
            margin-right: calc((((#{$clone__margin} / 2) * #{$clone__whitespace-multiplier}) * #{$clone__whitespace-multiplier}) * -1);
            margin-left: calc((((#{$clone__margin} / 2) * #{$clone__whitespace-multiplier}) * #{$clone__whitespace-multiplier}) * -1);
        }
        >[data-clone-grid-item] {
            padding-right: calc(#{$clone__padding} / 2);
            padding-left: calc(#{$clone__padding} / 2);
            @media #{$clone__tablet-portrait} {
                padding-right: calc((#{$clone__padding} / 2) * #{$clone__whitespace-multiplier});
                padding-left: calc((#{$clone__padding} / 2) * #{$clone__whitespace-multiplier});
            }
            @media #{$clone__desktop-large} {
                padding-right: calc(((#{$clone__padding} / 2) * #{$clone__whitespace-multiplier}) * #{$clone__whitespace-multiplier});
                padding-left: calc(((#{$clone__padding} / 2) * #{$clone__whitespace-multiplier}) * #{$clone__whitespace-multiplier});
            }
        }
    }

    [data-clone-grid-item] {
        flex: 0 0 100%;
        min-width: 0;
    }

    $clone-grid-item-modifier-list: ("top", "middle", "bottom", "fit");

    @each $modifier in $clone-grid-item-modifier-list {
        @if $modifier == "top" {
            [data-clone-grid-item*="top"] {
                align-items: flex-start;
            }
        }
        @if $modifier == "middle" {
            [data-clone-grid-item*="middle"] {
                align-items: center;
            }
        }
        @if $modifier == "bottom" {
            [data-clone-grid-item*="bottom"] {
                align-items: flex-end;
            }
        }
        @if $modifier == "fit" {
            [data-clone-grid-item*="fit"] {
                flex: 1;
            }
        }
    }

    @for $i from 1 through $clone__grid-columns {
        @for $r from 1 through $clone__grid-columns {
            [data-clone-grid-item*="base(#{$i}of#{$r})"] {
                flex: 0 0 calc(#{$i} / #{$r} * 100%);
            }
            @media #{$clone__phone-portrait} {
                [data-clone-grid-item*="pp(#{$i}of#{$r})"] {
                    flex: 0 0 calc(#{$i} / #{$r} * 100%);
                }
            }
            @media #{$clone__phone-landscape} {
                [data-clone-grid-item*="pl(#{$i}of#{$r})"] {
                    flex: 0 0 calc(#{$i} / #{$r} * 100%);
                }
            }
            @media #{$clone__tablet-portrait} {
                [data-clone-grid-item*="tp(#{$i}of#{$r})"] {
                    flex: 0 0 calc(#{$i} / #{$r} * 100%);
                }
            }
            @media #{$clone__tablet-landscape} {
                [data-clone-grid-item*="tl(#{$i}of#{$r})"] {
                    flex: 0 0 calc(#{$i} / #{$r} * 100%);
                }
            }
            @media #{$clone__desktop-small} {
                [data-clone-grid-item*="ds(#{$i}of#{$r})"] {
                    flex: 0 0 calc(#{$i} / #{$r} * 100%);
                }
            }
            @media #{$clone__desktop-medium} {
                [data-clone-grid-item*="dm(#{$i}of#{$r})"] {
                    flex: 0 0 calc(#{$i} / #{$r} * 100%);
                }
            }
            @media #{$clone__desktop-large} {
                [data-clone-grid-item*="dl(#{$i}of#{$r})"] {
                    flex: 0 0 calc(#{$i} / #{$r} * 100%);
                }
            }
        }
    }
