// =============================================================================

    // Clone
    // Media Queries

// =============================================================================

// Phone (Portrait): 320px

    $phone-portrait: "screen and (min-width: 20em)";

// Phone (Landscape): 480px

    $phone-landscape: "screen and (min-width: 30em)";

// Tablet (Portrait): 768px

    $tablet-portrait: "screen and (min-width: 48em)";

// Tablet (Landscape): 1024px

    $tablet-landscape: "screen and (min-width: 64em)";

// Desktop (Small)

    $desktop-small: "screen and (min-width: 64.01em)";

// Desktop (Medium): 1600px

    $desktop-medium: "screen and (min-width: 100em)";

// Desktop (Large): 1760px

    $desktop-large: "screen and (min-width: 110em)";
