// =============================================================================

    // Clone
    // System Settings

// =============================================================================

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    width: 100%;
}

p, div {
    font-size: $clone-default-font-size
}

img,
iframe {
    max-width: 100%;
}

.mobile-lock {
    overflow: hidden;
    @media #{$clone-tablet-landscape} {
        overflow: visible;
    }
}