// =============================================================================

    // Clone
    // System Settings

// =============================================================================

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p, div {
    font-size: $clone-default-font-size
}

img,
iframe {
    max-width: 100%;
}

.mobile-lock {
    overflow: hidden;
    @media #{$clone-tablet-landscape} {
        overflow: visible;
    }
}