// =============================================================================

    // Clone
    // Typography

// =============================================================================

// Fonts =======================================================================

    * {
        color: $clone-default-font-colour;
        font-family: $clone-font-default;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
    }

    ::selection {
        background: $clone-selection-background-colour !important;
        color: contrasting-color($clone-selection-background-colour, $clone-white, $clone-black) !important;
    }

// Font Scale ==================================================================

    html,
    body {
        font-size: 110%;

        @media #{$clone-tablet-portrait} {
            font-size: 120%;
        }

    }

    $clone-font-scale--regular: 1rem;

    $clone-font-scale--h1: calc(1rem*(#{$clone-font-scale}*(#{$clone-font-scale}*(#{$clone-font-scale}*(#{$clone-font-scale})))));
    $clone-font-scale--h2: calc(1rem*(#{$clone-font-scale}*(#{$clone-font-scale}*(#{$clone-font-scale}))));
    $clone-font-scale--h3: calc(1rem*(#{$clone-font-scale}*(#{$clone-font-scale})));
    $clone-font-scale--h4: calc(1rem*(#{$clone-font-scale}));
    $clone-font-scale--h5: $clone-font-scale--regular;
    $clone-font-scale--small: calc(1rem/(#{$clone-font-scale}));

// Copy & Misc =================================================================

    a {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        text-decoration: underline;
        transition: color .2s ease;

        &:hover {
            color: $clone-hover-colour !important;
            transition: color .2s ease;
        }

    }

    ul,
    ol {
        padding-left: $clone-padding;
        @media #{$clone-tablet-portrait} {
            padding-left: calc(#{$clone-padding} * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-desktop-large} {
            padding-left: calc((#{$clone-padding} * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
        }
        li {
            color: inherit;
            font-size: inherit;
        }
    }

    em {
        color: inherit;
        font-size: inherit;
        font-style: italic;
    }

    strong {
        color: inherit;
        font-size: inherit;
        font-weight: 600;
    }
