// =============================================================================

    // Clone
    // Typography

// =============================================================================

// Fonts =======================================================================

    * {
        font-size: 1em;
        line-height: $clone-line-height;
    }

    *:not(i) {
        font-family: $clone-font-default;
    }

    ::selection {
        background: $clone-selection-background-colour !important;
        color: contrasting-color($clone-selection-background-colour, $clone-white, $clone-black) !important;
    }

    h1, h2, h3, h4, h5 {
        font-weight: 400;
        line-height: calc(#{$clone-line-height} * .85);
        span {
            font-size: inherit;
            font-weight: inherit;
        }
    }

// Copy & Misc =================================================================

    a {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        text-decoration: underline;
        transition: color .2s ease;

        &:hover {
            color: $clone-hover-colour !important;
            transition: color .2s ease;
        }

        &:visited {
            color: $clone-visited-colour;
        }

    }

    ul,
    ol {
        padding-left: calc(#{$clone-padding} * 2);
        @media #{$clone-tablet-portrait} {
            padding-left: calc((#{$clone-padding} * 2) * #{$clone-whitespace-multiplier});
        }
        @media #{$clone-desktop-large} {
            padding-left: calc(((#{$clone-padding} * 2) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
        }
        li {
            color: inherit;
            font-size: inherit;
            margin-bottom: calc(#{$clone-margin} / 2);
            @media #{$clone-tablet-portrait} {
                margin-bottom: calc((#{$clone-margin} / 2) * #{$clone-whitespace-multiplier});
            }
            @media #{$clone-desktop-large} {
                margin-bottom: calc(((#{$clone-margin} / 2) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
            }
            &:last-child {
                margin-bottom: 0;
            }
            >ul {
                margin-top: calc(#{$clone-margin} / 2);
                @media #{$clone-tablet-portrait} {
                    margin-top: calc((#{$clone-margin} / 2) * #{$clone-whitespace-multiplier});
                }
                @media #{$clone-desktop-large} {
                    margin-top: calc(((#{$clone-margin} / 2) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
                }
            }
        }
    }

    em {
        color: inherit;
        font-size: inherit;
        font-style: italic;
    }

    strong {
        color: inherit;
        font-size: inherit;
        font-weight: 600;
    }
