// =============================================================================

    // Clone
    // Utility Classes

// =============================================================================

// Table of Contents ===========================================================

    // Backgrounds
    // Borders
    // Containers
    // Fonts
        // Colour
        // Headings
        // Styles
    // Margins
        // Half Margins
        // Regular Margins
        // Double Margins
        // Triple Margins
    // Padding
        // Half Padding
        // Regular Padding
        // Double Padding
        // Triple Padding

// =============================================================================

// Alignment ===================================================================

    [data-clone-alignment="center"],
    [data-clone-alignment="centre"] {text-align: center;}
    [data-clone-alignment="right"] {text-align: right};
    [data-clone-alignment="left"] {text-align: left};

// a11y ========================================================================

    [data-clone-visibility="invisible"] {
        height: 1px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: -100vw;
        width: 1px;
    }

    [data-clone-visibility="hidden"] {
        display: none;
        visibility: hidden;
    }

// Backgrounds =================================================================

    $clone-colour-map: (
        "white": $clone__white,
        "grey": $clone__grey,
        "black": $clone__black,
        "go": $clone__go,
        "slow": $clone__slow,
        "stop": $clone__stop,
        "c1": $clone__c1,
        "c2": $clone__c2,
        "c3": $clone__c3,
        "c4": $clone__c4,
        "c5": $clone__c5
    );

    @each $key, $value in $clone-colour-map {
        @for $alpha from 0 through 100 {
            $newValue: unquote($key)+"("+$alpha+")";
            [data-clone-background="#{$newValue}"] {
                $decimal: $alpha / 100;
                background: rgba($value, $decimal)
            }
        }
    };

// Borders =====================================================================

    $clone-border-style-list: ("solid", "dashed");
    $clone-border-width-list: ("thick", "thin");

    @each $style in $clone-border-style-list {
        @each $width in $clone-border-width-list {
            @each $key, $value in $clone-colour-map {
                &[data-clone-border*="all(#{$width}, #{$style}, #{$key})"] {
                    border-color: $value;
                    border-style: unquote($style);
                    @if ($width == "thin") {
                        border-width: 1px;
                    }
                    @if ($width == "thick") {
                        border-width: .5rem;
                    }
                }
            };
            @each $key, $value in $clone-colour-map {
                &[data-clone-border*="top(#{$width}, #{$style}, #{$key})"] {
                    border-top-color: $value;
                    border-top-style: unquote($style);
                    @if ($width == "thin") {
                        border-top-width: 1px;
                    }
                    @if ($width == "thick") {
                        border-top-width: .5rem;
                    }
                }
            };
            @each $key, $value in $clone-colour-map {
                &[data-clone-border*="right(#{$width}, #{$style}, #{$key})"] {
                    border-right-color: $value;
                    border-right-style: unquote($style);
                    @if ($width == "thin") {
                        border-right-width: 1px;
                    }
                    @if ($width == "thick") {
                        border-right-width: .5rem;
                    }
                }
            };
            @each $key, $value in $clone-colour-map {
                &[data-clone-border*="bottom(#{$width}, #{$style}, #{$key})"] {
                    border-bottom-color: $value;
                    border-bottom-style: unquote($style);
                    @if ($width == "thin") {
                        border-bottom-width: 1px;
                    }
                    @if ($width == "thick") {
                        border-bottom-width: .5rem;
                    }
                }
            };
            @each $key, $value in $clone-colour-map {
                &[data-clone-border*="left(#{$width}, #{$style}, #{$key})"] {
                    border-left-color: $value;
                    border-left-style: unquote($style);
                    @if ($width == "thin") {
                        border-left-width: 1px;
                    }
                    @if ($width == "thick") {
                        border-left-width: .5rem;
                    }
                }
            };
        };
    };

    [data-clone-radius="rounded"] {
        border-radius: 5px;
        overflow: hidden;
    }

    [data-clone-radius="pill"] {
        border-radius: 20rem;
        overflow: hidden;
    }

    .clone__shadow {box-shadow: 0 5px 10px rgba(0, 0, 0, .3);}

// Containers ==================================================================

    [data-clone-container="layout"] {
        margin: 0 auto;
        max-width: 80rem;
        width: 90%;
    }
    [data-clone-container="copy"] {
        margin: 0 auto;
        max-width: 39rem;
        width: 90%;
    }

// Fonts =======================================================================

    [data-clone-font="sans"] {font-family: $clone__font--sans;}
    [data-clone-font="serif"] {font-family: $clone__font--serif;}
    [data-clone-font="script"] {font-family: $clone__font--script;}
    [data-clone-font="mono"] {font-family: $clone__font--monospace;}

    // Font Colour -------------------------------------------------------------

        @each $key, $value in $clone-colour-map {
            [data-clone-font-colour="#{$key}"] {color: $value;}
            [data-clone-font-colour="#{$key}--light"] {color: lighten($value, 10%);}
            [data-clone-font-colour="#{$key}--dark"] {color: darken($value, 10%);}
            [data-clone-font-color="#{$key}"] {color: $value;}
            [data-clone-font-color="#{$key}--light"] {color: lighten($value, 10%);}
            [data-clone-font-color="#{$key}--dark"] {color: darken($value, 10%);}
        };

    // Font Weights ------------------------------------------------------------

        $clone-weight-map: (
            "100": 100,
            "200": 200,
            "300": 300,
            "400": 400,
            "normal": 400,
            "500": 500,
            "600": 600,
            "700": 700,
            "bold": 700,
            "800": 800,
            "900": 900
        );

        @each $key, $value in $clone-weight-map {
            [data-clone-font-weight="#{$key}"] {font-weight: $value;}
        };

    // Font Sizes --------------------------------------------------------------

        [data-clone-heading] {display: block;}

        [data-clone-heading="h1"] {font-size: $clone__font-scale--h1;}
        [data-clone-heading="h2"] {font-size: $clone__font-scale--h2;}
        [data-clone-heading="h3"] {font-size: $clone__font-scale--h3;}
        [data-clone-heading="h4"] {font-size: $clone__font-scale--h4;}
        [data-clone-heading="h5"] {font-size: $clone__font-scale--h5;}
        [data-clone-heading="small"] {font-size: $clone__font-scale--small;}

    // Font Styles -------------------------------------------------------------

        [data-clone-font-style="italic"] {font-style: italic;}

// Functions ===================================================================

    @function sqrt ($clone__r) {
        $clone__x0: 1;
        $clone__x1: $clone__x0;

        @for $clone__i from 1 through 10 {
            $clone__x1: $clone__x0 - ($clone__x0 * $clone__x0 - abs($clone__r)) / (2 * $clone__x0);
            $clone__x0: $clone__x1;
        }

        @return $clone__x1;
    }

    $clone__red-magic-number: 241;
    $clone__green-magic-number: 691;
    $clone__blue-magic-number: 68;
    $clone__brightness-divisor: $clone__red-magic-number + $clone__green-magic-number + $clone__blue-magic-number;

    @function brightness($clone__color) {
        // Extract color components
        $clone__red-component: red($clone__color);
        $clone__green-component: green($clone__color);
        $clone__blue-component: blue($clone__color);

        // Calculate a brightness value in 3d color space between 0 and 255
        $clone__number: sqrt((($clone__red-component * $clone__red-component * $clone__red-magic-number) + ($clone__green-component * $clone__green-component * $clone__green-magic-number) + ($clone__blue-component * $clone__blue-component * $clone__blue-magic-number)) / $clone__brightness-divisor);

        // Convert to percentage and return
        @return 100% * $clone__number / 255;
    }

    @function contrasting-color($clone__color, $clone__light, $clone__dark) {
        @if brightness($clone__color) < 65% {
            @return $clone__light;
        } @else {
            @return $clone__dark;
        }
    }

// Margins =====================================================================

    [data-clone-margin] {
        display: block;
    }

    // Defaults ----------------------------------------------------------------

        [data-clone-margin="quarter"],
        [data-clone-margin="all(quarter)"] {
            margin: calc((#{$clone__margin} / 2) / 4);
            @media #{$clone__tablet-portrait} {
                margin: calc(#{$clone__margin} / 4);
            }
            @media #{$clone__desktop-large} {
                margin: calc((#{$clone__margin} * 1.5) / 4);
            }
        }

        [data-clone-margin="half"],
        [data-clone-margin="all(half)"] {
            margin: calc((#{$clone__margin} / 2) / 2);
            @media #{$clone__tablet-portrait} {
                margin: calc(#{$clone__margin} / 2);
            }
            @media #{$clone__desktop-large} {
                margin: calc((#{$clone__margin} * 1.5) / 2);
            }
        }

        [data-clone-margin="normal"],
        [data-clone-margin="all(normal)"] {
            margin: calc(#{$clone__margin} / 2);
            @media #{$clone__tablet-portrait} {
                margin: $clone__margin;
            }
            @media #{$clone__desktop-large} {
                margin: calc(#{$clone__margin} * 1.5);
            }
        }

        [data-clone-margin="double"],
        [data-clone-margin="all(double)"] {
            margin: $clone__margin;
            @media #{$clone__tablet-portrait} {
                margin: calc(#{$clone__margin} * 2);
            }
            @media #{$clone__desktop-large} {
                margin: calc((#{$clone__margin} * 2) * 1.5);
            }
        }

        [data-clone-margin="triple"],
        [data-clone-margin="all(triple)"] {
            margin: calc(#{$clone__margin} * 2);
            @media #{$clone__tablet-portrait} {
                margin: calc(#{$clone__margin} * 3);
            }
            @media #{$clone__desktop-large} {
                margin: calc((#{$clone__margin} * 3) * 1.5);
            }
        }

    // Top Margin --------------------------------------------------------------

        [data-clone-margin*="top"] {
            margin-top: calc(#{$clone__margin} / 2);
            @media #{$clone__tablet-portrait} {
                margin-top: $clone__margin;
            }
            @media #{$clone__desktop-large} {
                margin-top: calc(#{$clone__margin} * 1.5);
            }
        }

        [data-clone-margin=*"top(quarter)"] {
            margin-top: calc((#{$clone__margin} / 2) / 4);
            @media #{$clone__tablet-portrait} {
                margin-top: calc(#{$clone__margin} / 4);
            }
            @media #{$clone__desktop-large} {
                margin-top: calc((#{$clone__margin} * 1.5) / 4);
            }
        }

        [data-clone-margin*="top(half)"] {
            margin-top: calc((#{$clone__margin} / 2) / 2);
            @media #{$clone__tablet-portrait} {
                margin-top: calc(#{$clone__margin} / 2);
            }
            @media #{$clone__desktop-large} {
                margin-top: calc((#{$clone__margin} * 1.5) / 2);
            }
        }

        [data-clone-margin*="top(double)"] {
            margin-top: $clone__margin;
            @media #{$clone__tablet-portrait} {
                margin-top: calc(#{$clone__margin} * 2);
            }
            @media #{$clone__desktop-large} {
                margin: calc((#{$clone__margin} * 2) * 1.5);
            }
        }

        [data-clone-margin*="top(triple)"] {
            margin-top: calc(#{$clone__margin} * 2);
            @media #{$clone__tablet-portrait} {
                margin-top: calc(#{$clone__margin} * 3);
            }
            @media #{$clone__desktop-large} {
                margin-top: calc((#{$clone__margin} * 3) * 1.5);
            }
        }

    // Right Margin ------------------------------------------------------------

        [data-clone-margin*="right"] {
            margin-right: calc(#{$clone__margin} / 2);
            @media #{$clone__tablet-portrait} {
                margin-right: $clone__margin;
            }
            @media #{$clone__desktop-large} {
                margin-right: calc(#{$clone__margin} * 1.5);
            }
        }

        [data-clone-margin*="right(quarter)"] {
            margin-right: calc((#{$clone__margin} / 2) / 4);
            @media #{$clone__tablet-portrait} {
                margin-right: calc(#{$clone__margin} / 4);
            }
            @media #{$clone__desktop-large} {
                margin-right: calc((#{$clone__margin} * 1.5) / 4);
            }
        }

        [data-clone-margin*="right(half)"] {
            margin-right: calc((#{$clone__margin} / 2) / 2);
            @media #{$clone__tablet-portrait} {
                margin-right: calc(#{$clone__margin} / 2);
            }
            @media #{$clone__desktop-large} {
                margin-right: calc((#{$clone__margin} * 1.5) / 2);
            }
        }

        [data-clone-margin*="right(double)"] {
            margin-right: $clone__margin;
            @media #{$clone__tablet-portrait} {
                margin-right: calc(#{$clone__margin} * 2);
            }
            @media #{$clone__desktop-large} {
                margin: calc((#{$clone__margin} * 2) * 1.5);
            }
        }

        [data-clone-margin*="right(triple)"] {
            margin-right: calc(#{$clone__margin} * 2);
            @media #{$clone__tablet-portrait} {
                margin-right: calc(#{$clone__margin} * 3);
            }
            @media #{$clone__desktop-large} {
                margin-right: calc((#{$clone__margin} * 3) * 1.5);
            }
        }

    // Bottom Margin -----------------------------------------------------------

        [data-clone-margin*="bottom"] {
            margin-bottom: calc(#{$clone__margin} / 2);
            @media #{$clone__tablet-portrait} {
                margin-bottom: $clone__margin;
            }
            @media #{$clone__desktop-large} {
                margin-bottom: calc(#{$clone__margin} * 1.5);
            }
        }

        [data-clone-margin*="bottom(quarter)"] {
            margin-bottom: calc((#{$clone__margin} / 2) / 4);
            @media #{$clone__tablet-portrait} {
                margin-bottom: calc(#{$clone__margin} / 4);
            }
            @media #{$clone__desktop-large} {
                margin-bottom: calc((#{$clone__margin} * 1.5) / 4);
            }
        }

        [data-clone-margin*="bottom(half)"] {
            margin-bottom: calc((#{$clone__margin} / 2) / 2);
            @media #{$clone__tablet-portrait} {
                margin-bottom: calc(#{$clone__margin} / 2);
            }
            @media #{$clone__desktop-large} {
                margin-bottom: calc((#{$clone__margin} * 1.5) / 2);
            }
        }

        [data-clone-margin*="bottom(double)"] {
            margin-bottom: $clone__margin;
            @media #{$clone__tablet-portrait} {
                margin-bottom: calc(#{$clone__margin} * 2);
            }
            @media #{$clone__desktop-large} {
                margin: calc((#{$clone__margin} * 2) * 1.5);
            }
        }

        [data-clone-margin*="bottom(triple)"] {
            margin-bottom: calc(#{$clone__margin} * 2);
            @media #{$clone__tablet-portrait} {
                margin-bottom: calc(#{$clone__margin} * 3);
            }
            @media #{$clone__desktop-large} {
                margin-bottom: calc((#{$clone__margin} * 3) * 1.5);
            }
        }

    // Left Margin -------------------------------------------------------------

        [data-clone-margin*="left"] {
            margin-left: calc(#{$clone__margin} / 2);
            @media #{$clone__tablet-portrait} {
                margin-left: $clone__margin;
            }
            @media #{$clone__desktop-large} {
                margin-left: calc(#{$clone__margin} * 1.5);
            }
        }

        [data-clone-margin*="left(quarter)"] {
            margin-left: calc((#{$clone__margin} / 2) / 4);
            @media #{$clone__tablet-portrait} {
                margin-left: calc(#{$clone__margin} / 4);
            }
            @media #{$clone__desktop-large} {
                margin-left: calc((#{$clone__margin} * 1.5) / 4);
            }
        }

        [data-clone-margin*="left(half)"] {
            margin-left: calc((#{$clone__margin} / 2) / 2);
            @media #{$clone__tablet-portrait} {
                margin-left: calc(#{$clone__margin} / 2);
            }
            @media #{$clone__desktop-large} {
                margin-left: calc((#{$clone__margin} * 1.5) / 2);
            }
        }

        [data-clone-margin*="left(double)"] {
            margin-left: $clone__margin;
            @media #{$clone__tablet-portrait} {
                margin-left: calc(#{$clone__margin} * 2);
            }
            @media #{$clone__desktop-large} {
                margin: calc((#{$clone__margin} * 2) * 1.5);
            }
        }

        [data-clone-margin*="left(triple)"] {
            margin-left: calc(#{$clone__margin} * 2);
            @media #{$clone__tablet-portrait} {
                margin-left: calc(#{$clone__margin} * 3);
            }
            @media #{$clone__desktop-large} {
                margin-left: calc((#{$clone__margin} * 3) * 1.5);
            }
        }

// Padding =====================================================================

    [data-clone-padding] {
        display: block;
    }

    // Defaults ----------------------------------------------------------------

        [data-clone-padding="quarter"],
        [data-clone-padding="all(quarter)"] {
            padding: calc((#{$clone__padding} / 2) / 4);
            @media #{$clone__tablet-portrait} {
                padding: calc(#{$clone__padding} / 4);
            }
            @media #{$clone__desktop-large} {
                padding: calc((#{$clone__padding} * 1.5) / 4);
            }
        }

        [data-clone-padding="half"],
        [data-clone-padding="all(half)"] {
            padding: calc((#{$clone__padding} / 2) / 2);
            @media #{$clone__tablet-portrait} {
                padding: calc(#{$clone__padding} / 2);
            }
            @media #{$clone__desktop-large} {
                padding: calc((#{$clone__padding} * 1.5) / 2);
            }
        }

        [data-clone-padding="normal"],
        [data-clone-padding="all(normal)"] {
            padding: calc(#{$clone__padding} / 2);
            @media #{$clone__tablet-portrait} {
                padding: $clone__padding;
            }
            @media #{$clone__desktop-large} {
                padding: calc(#{$clone__padding} * 1.5);
            }
        }

        [data-clone-padding="double"],
        [data-clone-padding="all(double)"] {
            padding: calc((#{$clone__padding} / 2) * 2);
            @media #{$clone__tablet-portrait} {
                padding: calc(#{$clone__padding} * 2);
            }
            @media #{$clone__desktop-large} {
                padding: calc((#{$clone__padding} * 1.5) * 2);
            }
        }

        [data-clone-padding="triple"],
        [data-clone-padding="all(triple)"] {
            padding: calc((#{$clone__padding} / 2) * 3);
            @media #{$clone__tablet-portrait} {
                padding: calc(#{$clone__padding} * 3);
            }
            @media #{$clone__desktop-large} {
                padding: calc((#{$clone__padding} * 1.5) * 3);
            }
        }

    // Top Padding -------------------------------------------------------------

        [data-clone-padding*="top"] {
            padding-top: calc(#{$clone__padding} / 2);
            @media #{$clone__tablet-portrait} {
                padding-top: $clone__padding;
            }
            @media #{$clone__desktop-large} {
                padding-top: calc(#{$clone__padding} * 1.5);
            }
        }

        [data-clone-padding*="top(quarter)"] {
            padding-top: calc((#{$clone__padding} / 2) / 4);
            @media #{$clone__tablet-portrait} {
                padding-top: calc(#{$clone__padding} / 4);
            }
            @media #{$clone__desktop-large} {
                padding-top: calc((#{$clone__padding} * 1.5) / 4);
            }
        }

        [data-clone-padding*="top(half)"] {
            padding-top: calc((#{$clone__padding} / 2) / 2);
            @media #{$clone__tablet-portrait} {
                padding-top: calc(#{$clone__padding} / 2);
            }
            @media #{$clone__desktop-large} {
                padding-top: calc((#{$clone__padding} * 1.5) / 2);
            }
        }

        [data-clone-padding*="top(double)"] {
            padding-top: $clone__padding;
            @media #{$clone__tablet-portrait} {
                padding-top: calc(#{$clone__padding} * 2);
            }
            @media #{$clone__desktop-large} {
                padding-top: calc((#{$clone__padding} * 2) * 1.5);
            }
        }

        [data-clone-padding*="top(triple)"] {
            padding-top: calc(#{$clone__padding} * 2);
            @media #{$clone__tablet-portrait} {
                padding-top: calc(#{$clone__padding} * 3);
            }
            @media #{$clone__desktop-large} {
                padding-top: calc((#{$clone__padding} * 3) * 1.5);
            }
        }

    // Right Padding -----------------------------------------------------------

        [data-clone-padding*="right"] {
            padding-right: calc(#{$clone__padding} / 2);
            @media #{$clone__tablet-portrait} {
                padding-right: $clone__padding;
            }
            @media #{$clone__desktop-large} {
                padding-right: calc(#{$clone__padding} * 1.5);
            }
        }

        [data-clone-padding*="right(quarter)"] {
            padding-right: calc((#{$clone__padding} / 2) / 4);
            @media #{$clone__tablet-portrait} {
                padding-right: calc(#{$clone__padding} / 4);
            }
            @media #{$clone__desktop-large} {
                padding-right: calc((#{$clone__padding} * 1.5) / 4);
            }
        }

        [data-clone-padding*="right(half)"] {
            padding-right: calc((#{$clone__padding} / 2) / 2);
            @media #{$clone__tablet-portrait} {
                padding-right: calc(#{$clone__padding} / 2);
            }
            @media #{$clone__desktop-large} {
                padding-right: calc((#{$clone__padding} * 1.5) / 2);
            }
        }

        [data-clone-padding*="right(double)"] {
            padding-right: $clone__padding;
            @media #{$clone__tablet-portrait} {
                padding-right: calc(#{$clone__padding} * 2);
            }
            @media #{$clone__desktop-large} {
                padding-right: calc((#{$clone__padding} * 2) * 1.5);
            }
        }

        [data-clone-padding*="right(triple)"] {
            padding-right: calc(#{$clone__padding} * 2);
            @media #{$clone__tablet-portrait} {
                padding-right: calc(#{$clone__padding} * 3);
            }
            @media #{$clone__desktop-large} {
                padding-right: calc((#{$clone__padding} * 3) * 1.5);
            }
        }

    // Bottom Padding ----------------------------------------------------------

        [data-clone-padding*="bottom"] {
            padding-bottom: calc(#{$clone__padding} / 2);
            @media #{$clone__tablet-portrait} {
                padding-bottom: $clone__padding;
            }
            @media #{$clone__desktop-large} {
                padding-bottom: calc(#{$clone__padding} * 1.5);
            }
        }

        [data-clone-padding*="bottom(quarter)"] {
            padding-bottom: calc((#{$clone__padding} / 2) / 4);
            @media #{$clone__tablet-portrait} {
                padding-bottom: calc(#{$clone__padding} / 4);
            }
            @media #{$clone__desktop-large} {
                padding-bottom: calc((#{$clone__padding} * 1.5) / 4);
            }
        }

        [data-clone-padding*="bottom(half)"] {
            padding-bottom: calc((#{$clone__padding} / 2) / 2);
            @media #{$clone__tablet-portrait} {
                padding-bottom: calc(#{$clone__padding} / 2);
            }
            @media #{$clone__desktop-large} {
                padding-bottom: calc((#{$clone__padding} * 1.5) / 2);
            }
        }

        [data-clone-padding*="bottom(double)"] {
            padding-bottom: $clone__padding;
            @media #{$clone__tablet-portrait} {
                padding-bottom: calc(#{$clone__padding} * 2);
            }
            @media #{$clone__desktop-large} {
                padding-bottom: calc((#{$clone__padding} * 2) * 1.5);
            }
        }

        [data-clone-padding*="bottom(triple)"] {
            padding-bottom: calc(#{$clone__padding} * 2);
            @media #{$clone__tablet-portrait} {
                padding-bottom: calc(#{$clone__padding} * 3);
            }
            @media #{$clone__desktop-large} {
                padding-bottom: calc((#{$clone__padding} * 3) * 1.5);
            }
        }

    // Left Padding ------------------------------------------------------------

        [data-clone-padding*="left"] {
            padding-left: calc(#{$clone__padding} / 2);
            @media #{$clone__tablet-portrait} {
                padding-left: $clone__padding;
            }
            @media #{$clone__desktop-large} {
                padding-left: calc(#{$clone__padding} * 1.5);
            }
        }

        [data-clone-padding*="left(quarter)"] {
            padding-left: calc((#{$clone__padding} / 2) / 4);
            @media #{$clone__tablet-portrait} {
                padding-left: calc(#{$clone__padding} / 4);
            }
            @media #{$clone__desktop-large} {
                padding-left: calc((#{$clone__padding} * 1.5) / 4);
            }
        }

        [data-clone-padding*="left(half)"] {
            padding-left: calc((#{$clone__padding} / 2) / 2);
            @media #{$clone__tablet-portrait} {
                padding-left: calc(#{$clone__padding} / 2);
            }
            @media #{$clone__desktop-large} {
                padding-left: calc((#{$clone__padding} * 1.5) / 2);
            }
        }

        [data-clone-padding*="left(double)"] {
            padding-left: $clone__padding;
            @media #{$clone__tablet-portrait} {
                padding-left: calc(#{$clone__padding} * 2);
            }
            @media #{$clone__desktop-large} {
                padding-left: calc((#{$clone__padding} * 2) * 1.5);
            }
        }

        [data-clone-padding*="left(triple)"] {
            padding-left: calc(#{$clone__padding} * 2);
            @media #{$clone__tablet-portrait} {
                padding-left: calc(#{$clone__padding} * 3);
            }
            @media #{$clone__desktop-large} {
                padding-left: calc((#{$clone__padding} * 3) * 1.5);
            }
        }
