// =============================================================================

    // Clone
    // Utility Classes

// =============================================================================

// Table of Contents ===========================================================

    // Backgrounds
    // Borders
    // Containers
    // Fonts
        // Colour
        // Headings
        // Styles
    // Margins
    // Padding

// =============================================================================

// Alignment ===================================================================

    [data-c-alignment="center"],
    [data-c-alignment="centre"] {text-align: center;}
    [data-c-alignment="right"] {text-align: right;}
    [data-c-alignment="left"] {text-align: left;}

    $clone-alignment-map: (
        "left": left,
        "center": center,
        "centre": center,
        "right": right
    );

    @each $key, $value in $clone-alignment-map {
        [data-c-alignment*="base(#{$key})"] {
            text-align: $value;
        }
    }
    @each $key, $value in $clone-alignment-map {
        @media #{$clone-phone-portrait} {
            [data-c-alignment*="pp(#{$key})"] {
                text-align: $value;
            }
        }
    }
    @each $key, $value in $clone-alignment-map {
        @media #{$clone-phone-landscape} {
            [data-c-alignment*="pl(#{$key})"] {
                text-align: $value;
            }
        }
    }
    @each $key, $value in $clone-alignment-map {
        @media #{$clone-tablet-portrait} {
            [data-c-alignment*="tp(#{$key})"] {
                text-align: $value;
            }
        }
    }
    @each $key, $value in $clone-alignment-map {
        @media #{$clone-tablet-landscape} {
            [data-c-alignment*="tl(#{$key})"] {
                text-align: $value;
            }
        }
    }
    @each $key, $value in $clone-alignment-map {
        @media #{$clone-desktop-small} {
            [data-c-alignment*="ds(#{$key})"] {
                text-align: $value;
            }
        }
    }
    @each $key, $value in $clone-alignment-map {
        @media #{$clone-desktop-medium} {
            [data-c-alignment*="dm(#{$key})"] {
                text-align: $value;
            }
        }
    }
    @each $key, $value in $clone-alignment-map {
        @media #{$clone-desktop-large} {
            [data-c-alignment*="dl(#{$key})"] {
                text-align: $value;
            }
        }
    }

// a11y ========================================================================

    [data-c-visibility="invisible"] {
        height: 1px;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: -100vw;
        width: 1px;
    }

    [data-c-visibility="hidden"] {
        display: none;
        visibility: hidden;
    }

// Backgrounds =================================================================

    $clone-colour-map: (
        "white": $clone-white,
        "grey": $clone-grey,
        "black": $clone-black,
        "go": $clone-go,
        "slow": $clone-slow,
        "stop": $clone-stop,
        "c1": $clone-c1,
        "c2": $clone-c2,
        "c3": $clone-c3,
        "c4": $clone-c4,
        "c5": $clone-c5
    );

    $clone-opacity-list: (0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100);

    @each $key, $value in $clone-colour-map {
        @each $alpha in $clone-opacity-list {
            $newValue: unquote($key)+"("+$alpha+")";
            [data-c-background="#{$newValue}"] {
                $decimal: $alpha / 100;
                background: rgba($value, $decimal)
            }
        }
    };

// Borders =====================================================================

    $clone-border-style-list: ("solid", "dashed");
    $clone-border-width-list: ("thick", "thin");

    @each $style in $clone-border-style-list {
        @each $width in $clone-border-width-list {
            @each $key, $value in $clone-colour-map {
                [data-c-border*="all(#{$width}, #{$style}, #{$key})"] {
                    border-color: $value;
                    border-style: unquote($style);
                    @if ($width == "thin") {
                        border-width: 1px;
                    }
                    @if ($width == "thick") {
                        border-width: .5rem;
                    }
                }
            };
            @each $key, $value in $clone-colour-map {
                [data-c-border*="top(#{$width}, #{$style}, #{$key})"] {
                    border-top-color: $value;
                    border-top-style: unquote($style);
                    @if ($width == "thin") {
                        border-top-width: 1px;
                    }
                    @if ($width == "thick") {
                        border-top-width: .5rem;
                    }
                }
            };
            @each $key, $value in $clone-colour-map {
                [data-c-border*="right(#{$width}, #{$style}, #{$key})"] {
                    border-right-color: $value;
                    border-right-style: unquote($style);
                    @if ($width == "thin") {
                        border-right-width: 1px;
                    }
                    @if ($width == "thick") {
                        border-right-width: .5rem;
                    }
                }
            };
            @each $key, $value in $clone-colour-map {
                [data-c-border*="bottom(#{$width}, #{$style}, #{$key})"] {
                    border-bottom-color: $value;
                    border-bottom-style: unquote($style);
                    @if ($width == "thin") {
                        border-bottom-width: 1px;
                    }
                    @if ($width == "thick") {
                        border-bottom-width: .5rem;
                    }
                }
            };
            @each $key, $value in $clone-colour-map {
                [data-c-border*="left(#{$width}, #{$style}, #{$key})"] {
                    border-left-color: $value;
                    border-left-style: unquote($style);
                    @if ($width == "thin") {
                        border-left-width: 1px;
                    }
                    @if ($width == "thick") {
                        border-left-width: .5rem;
                    }
                }
            };
        };
    };

    [data-c-radius="rounded"] {
        border-radius: 5px;
        overflow: hidden;
    }

    [data-c-radius="pill"] {
        border-radius: 20rem;
        overflow: hidden;
    }

    [data-c-card] {box-shadow: 0 5px 10px rgba(0, 0, 0, .3);}

// Containers ==================================================================

    [data-c-container="full"] {
        margin: 0 auto;
        width: 90%;
    }
    [data-c-container="layout"] {
        margin: 0 auto;
        max-width: $clone-wide-layout;
        width: 90%;
    }
    [data-c-container="form"] {
        margin: 0 auto;
        max-width: $clone-form-layout;
        width: 90%;
    }
    [data-c-container="copy"] {
        margin: 0 auto;
        max-width: $clone-copy-layout;
        width: 90%;
    }

// Fonts =======================================================================

    [data-c-font="sans"] {font-family: $clone-font--sans;}
    [data-c-font="serif"] {font-family: $clone-font--serif;}
    [data-c-font="script"] {font-family: $clone-font--script;}
    [data-c-font="mono"] {font-family: $clone-font--monospace;}

    // Font Colour -------------------------------------------------------------

        @each $key, $value in $clone-colour-map {
            [data-c-colour="#{$key}"],
            [data-c-colour="#{$key}"] {color: $value;}
            [data-c-colour="#{$key}--light"],
            [data-c-colour="#{$key}--light"] {color: lighten($value, 10%);}
            [data-c-colour="#{$key}--dark"],
            [data-c-colour="#{$key}--dark"] {color: darken($value, 10%);}
            [data-c-color="#{$key}"],
            [data-c-color="#{$key}"] {color: $value;}
            [data-c-color="#{$key}--light"],
            [data-c-color="#{$key}--light"] {color: lighten($value, 10%);}
            [data-c-color="#{$key}--dark"],
            [data-c-color="#{$key}--dark"] {color: darken($value, 10%);}
        };

    // Hover Colour ------------------------------------------------------------
    @each $key, $value in $clone-colour-map {
        [data-c-hover-colour="#{$key}"]:hover,
        [data-c-hover-colour="#{$key}"]:hover {color: $value;}
        [data-c-hover-colour="#{$key}--light"]:hover,
        [data-c-hover-colour="#{$key}--light"]:hover {color: lighten($value, 10%);}
        [data-c-hover-colour="#{$key}--dark"]:hover,
        [data-c-hover-colour="#{$key}--dark"]:hover {color: darken($value, 10%);}
        [data-c-hover-color="#{$key}"]:hover,
        [data-c-hover-color="#{$key}"]:hover {color: $value;}
        [data-c-hover-color="#{$key}--light"]:hover,
        [data-c-hover-color="#{$key}--light"]:hover {color: lighten($value, 10%);}
        [data-c-hover-color="#{$key}--dark"]:hover,
        [data-c-hover-color="#{$key}--dark"]:hover {color: darken($value, 10%);}
    };
    
    // Font Weights ------------------------------------------------------------

        $clone-weight-map: (
            "100": 100,
            "200": 200,
            "300": 300,
            "400": 400,
            "normal": 400,
            "500": 500,
            "600": 600,
            "700": 700,
            "bold": 700,
            "800": 800,
            "900": 900
        );

        @each $key, $value in $clone-weight-map {
            [data-c-font-weight="#{$key}"] {font-weight: $value;}
        };

    // Font Sizes --------------------------------------------------------------

        // [data-c-font-size] {display: block;}

        [data-c-font-size="h1"] {font-size: $clone-font-scale--h1;}
        [data-c-font-size="h2"] {font-size: $clone-font-scale--h2;}
        [data-c-font-size="h3"] {font-size: $clone-font-scale--h3;}
        [data-c-font-size="h4"] {font-size: $clone-font-scale--h4;}
        [data-c-font-size="h5"] {font-size: $clone-font-scale--h5;}
        [data-c-font-size="small"] {font-size: $clone-font-scale--small;}

    // Font Styles -------------------------------------------------------------

        [data-c-font-style="italic"] {font-style: italic;}
        [data-c-font-style="underline"] {font-style: underline;}

// Functions ===================================================================

    @function sqrt ($clone-r) {
        $clone-x0: 1;
        $clone-x1: $clone-x0;

        @for $clone-i from 1 through 10 {
            $clone-x1: $clone-x0 - ($clone-x0 * $clone-x0 - abs($clone-r)) / (2 * $clone-x0);
            $clone-x0: $clone-x1;
        }

        @return $clone-x1;
    }

    $clone-red-magic-number: 241;
    $clone-green-magic-number: 691;
    $clone-blue-magic-number: 68;
    $clone-brightness-divisor: $clone-red-magic-number + $clone-green-magic-number + $clone-blue-magic-number;

    @function brightness($clone-color) {
        // Extract color components
        $clone-red-component: red($clone-color);
        $clone-green-component: green($clone-color);
        $clone-blue-component: blue($clone-color);

        // Calculate a brightness value in 3d color space between 0 and 255
        $clone-number: sqrt((($clone-red-component * $clone-red-component * $clone-red-magic-number) + ($clone-green-component * $clone-green-component * $clone-green-magic-number) + ($clone-blue-component * $clone-blue-component * $clone-blue-magic-number)) / $clone-brightness-divisor);

        // Convert to percentage and return
        @return 100% * $clone-number / 255;
    }

    @function contrasting-color($clone-color, $clone-light, $clone-dark) {
        @if brightness($clone-color) < 65% {
            @return $clone-light;
        } @else {
            @return $clone-dark;
        }
    }

// Whitespace ==================================================================

    [data-c-margin],
    [data-c-padding] {
        display: block;
    }

    $clone-orientation-map: (
        "all": "",
        "top": "-top",
        "right": "-right",
        "bottom": "-bottom",
        "left": "-left"
    );
    $clone-whitespace-map: (
        "normal": "",
        "quarter": "/ 4",
        "half": "/ 2",
        "double": "* 2",
        "triple": "* 3"
    );

    // Margins -----------------------------------------------------------------

        // Shorthand ([data-c-margin=normal]) ------------------------------
        @each $wKey, $wValue in $clone-whitespace-map {
            [data-c-margin="#{$wKey}"] {
                margin: calc(#{$clone-margin} #{$wValue});
                @media #{$clone-tablet-portrait} {
                    margin: calc((#{$clone-margin} #{$wValue}) * #{$clone-whitespace-multiplier});
                }
                @media #{$clone-desktop-large} {
                    margin: calc(((#{$clone-margin} #{$wValue}) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
                }
            }
        }

        // Shorthand ([data-c-margin=top]) ---------------------------------
        @each $oKey, $oValue in $clone-orientation-map {
            [data-c-margin="#{$oKey}"] {
                margin#{$oValue}: calc(#{$clone-margin});
                @media #{$clone-tablet-portrait} {
                    margin#{$oValue}: calc(#{$clone-margin} * #{$clone-whitespace-multiplier});
                }
                @media #{$clone-desktop-large} {
                    margin#{$oValue}: calc((#{$clone-margin} * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
                }
            }
        }

        // Margin Syntax -------------------------------------------------------
        @each $oKey, $oValue in $clone-orientation-map {
            @each $wKey, $wValue in $clone-whitespace-map {
                [data-c-margin*="#{$oKey}(#{$wKey})"] {
                    margin#{$oValue}: calc(#{$clone-margin} #{$wValue});
                    @media #{$clone-tablet-portrait} {
                        margin#{$oValue}: calc((#{$clone-margin} #{$wValue}) * #{$clone-whitespace-multiplier});
                    }
                    @media #{$clone-desktop-large} {
                        margin#{$oValue}: calc(((#{$clone-margin} #{$wValue}) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
                    }
                }
            }
        }

        // Auto Margins --------------------------------------------------------
        [data-c-margin*="right(auto)"] {
            margin-right: auto;
        }

        [data-c-margin*="left(auto)"] {
            margin-left: auto;
        }

    // Padding -----------------------------------------------------------------

        // Shorthand ([data-c-padding=normal]) -----------------------------
        @each $wKey, $wValue in $clone-whitespace-map {
            [data-c-padding="#{$wKey}"] {
                padding: calc(#{$clone-padding} #{$wValue});
                @media #{$clone-tablet-portrait} {
                    padding: calc((#{$clone-padding} #{$wValue}) * #{$clone-whitespace-multiplier});
                }
                @media #{$clone-desktop-large} {
                    padding: calc(((#{$clone-padding} #{$wValue}) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
                }
            }
        }

        // Shorthand ([data-c-padding=top]) --------------------------------
        @each $oKey, $oValue in $clone-orientation-map {
            [data-c-padding="#{$oKey}"] {
                padding#{$oValue}: calc(#{$clone-padding});
                @media #{$clone-tablet-portrait} {
                    padding#{$oValue}: calc(#{$clone-padding} * #{$clone-whitespace-multiplier});
                }
                @media #{$clone-desktop-large} {
                    padding#{$oValue}: calc((#{$clone-padding} * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
                }
            }
        }

        // Padding Syntax ------------------------------------------------------
        @each $oKey, $oValue in $clone-orientation-map {
            @each $wKey, $wValue in $clone-whitespace-map {
                [data-c-padding*="#{$oKey}(#{$wKey})"] {
                    padding#{$oValue}: calc(#{$clone-padding} #{$wValue});
                    @media #{$clone-tablet-portrait} {
                        padding#{$oValue}: calc((#{$clone-padding} #{$wValue}) * #{$clone-whitespace-multiplier});
                    }
                    @media #{$clone-desktop-large} {
                        padding#{$oValue}: calc(((#{$clone-padding} #{$wValue}) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
                    }
                }
            }
        }

// Overlays ====================================================================

    @each $key, $value in $clone-colour-map {
        @each $alpha in $clone-opacity-list {
            $newValue: unquote($key)+"("+$alpha+")";
            [data-c-overlay="#{$newValue}"] {
                background-position: center center;
                background-size: cover;
                position: relative;
                &::before {
                    $decimal: $alpha / 100;
                    background: rgba($value, $decimal);
                    content: " ";
                    display: block;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                }
                * {
                    position: relative;
                }
            }
        }
    };
