<div data-c-accordion-group>
    <div
        data-c-accordion
        data-c-background="white(100)"
        data-c-border="bottom(thin, solid, black)">
        <button
            aria-expanded="false"
            data-c-accordion-trigger
            tabindex="0"
            type="button">
            <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                <p data-c-font-weight="bold">
                    <!-- Accordion Title Here -->
                </p>
                <!-- This subtitle p can be removed if a subtitle is not necessary. -->
                <p data-c-margin="top(quarter)" data-c-heading="h5" data-c-colour="c1">
                    <!-- Accordion Subtitle Here -->
                </p>
            </div>
            <span data-c-visibility="invisible">
                Click to view...
            </span>
            <i
                aria-hidden="true"
                class="material-icons"
                data-c-accordion-add
                data-c-colour="black">
                add_circle
            </i>
            <i
                aria-hidden="true"
                class="material-icons"
                data-c-accordion-remove
                data-c-colour="black">
                remove_circle
            </i>
        </button>
        <div
            aria-hidden="true"
            data-c-accordion-content
            data-c-padding="right(normal) left(normal)">
            <div data-c-padding="bottom(normal)">
                <!-- Content Goes Here -->
            </div>
        </div>
    </div>
</div>
