<div class="accordion">
    <div
        aria-expanded="false"
        class="accordion-trigger"
        tabindex="0">
        <div class="accordion-title-wrapper">
            <span class="heading--04 bold">Accordion Title</span>
            <span class="heading--05 wine">Optional Accordion Subtitle</span>
        </div>
        <i class="accordion-icon--add slate material-icons">
            add_circle
        </i>
        <i class="accordion-icon--remove slate material-icons">
            remove_circle
        </i>
    </div>
    <div
        aria-hidden="true"
        class="accordion-content padding--right padding--left">
        <div class="padding--bottom">
            <!-- Content Goes Here -->
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Egestas purus viverra accumsan in nisl nisi scelerisque eu ultrices. A condimentum vitae sapien pellentesque habitant morbi tristique senectus et.</p>
        </div>
    </div>
</div>