<div data-c-accordion="group">
    <div
        data-c-accordion="object"
        data-c-background="white(100)">
        <button
            aria-expanded="false"
            data-c-accordion="trigger"
            data-c-padding="right"
            tabindex="0"
            type="button">
            <div data-c-padding="top(normal) right bottom(normal) left(normal)">
                <span data-c-heading="h4" data-c-font-weight="bold">
                    <!-- Accordion Title Here -->>
                </span>
                <!-- This subtitle span can be removed if a subtitle is not necessary. -->
                <span data-c-margin="top(quarter)" data-c-heading="h5" data-c-colour="c1">
                    <!-- Accordion Subtitle Here -->
                </span>
            </div>
            <span data-c-visibility="invisible">
                Click to view...
            </span>
            <i
                aria-hidden="true"
                class="material-icons"
                data-c-accordion="icon--add"
                data-c-colour="black">
                add_circle
            </i>
            <i
                aria-hidden="true"
                class="material-icons"
                data-c-accordion="icon--remove"
                data-c-colour="black">
                remove_circle
            </i>
        </button>
        <div
            aria-hidden="true"
            data-c-accordion="content"
            data-c-padding="right(normal) left(normal)">
            <div data-c-padding="bottom(normal)">
                <!-- Content Goes Here -->
            </div>
        </div>
    </div>
</div>
