<div
    data-clone-accordion="object"
    data-clone-border="bottom(thin, solid, black)"
    data-clone-background="white(100)"
>
    <button
        aria-expanded="false"
        data-clone-accordion="trigger"
        data-clone-padding="right"
        tabindex="0"
        type="button"
    >
        <div data-clone-padding="top(half) right bottom(half) left(half)">
            <span data-clone-heading="h4" data-clone-font-weight="bold">
                Accordion Title
            </span>
            <span data-clone-margin="top(quarter)" data-clone-heading="h5" data-clone-font-colour="c1">
                Optional Accordion Subtitle
            </span>
        </div>
        <span data-clone-visibility="invisible">
            Click to edit...
        </span>
        <i
            class="material-icons"
            data-clone-accordion="icon--add"
            data-clone-font-colour="black"
        >
            add_circle
        </i>
        <i
            class="material-icons"
            data-clone-accordion="icon--remove"
            data-clone-font-colour="black"
        >
            remove_circle
        </i>
    </button>
    <div
        aria-hidden="true"
        data-clone-accordion="content"
        data-clone-padding="right(half) left(half)"
    >
        <div data-clone-padding="bottom(half)">
            <!-- Content Goes Here -->
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Egestas purus <a href="google.com" title="hi">viverra accumsan</a> in nisl nisi scelerisque eu
                ultrices. A condimentum vitae sapien pellentesque habitant morbi
                tristique senectus et.
            </p>
        </div>
    </div>
</div>
