<div
    data-c-alert="error"
    data-c-radius="rounded"
    data-c-padding="half"
    role="alert"
>
    <span
        data-c-margin="bottom(quarter)"
        data-c-heading="h5"
        data-c-font-weight="bold"
    >
        <i
            aria-hidden="true"
            class="material-icons">
            report_problem
        </i>
        Optional Alert Title
    </span>

    <p>
        This is a sample error alert. These alerts are used to display critical
        system and form errors.
    </p>
</div>
