<div
    data-c-alert="information"
    data-c-radius="rounded"
    data-c-padding="half"
    role="alert"
>
    <span
        data-c-margin="bottom(quarter)"
        data-c-heading="h5"
        data-c-font-weight="bold"
    >
        <i
            aria-hidden="true"
            class="material-icons">
            stars
        </i>
        Optional Alert Title
    </span>

    <p>
        This is a sample informative alert. These alerts are used to display
        non-critical information to the user.
    </p>
</div>
