<!-- Alerts can have three arguments: information, warning, error. You can also include the toast argument on any of these types to fix the alert to the bottom right of the viewport. e.g. information(toast) -->
<div
    data-c-alert="error"
    data-c-radius="rounded"
    role="alert">
    <div data-c-padding="half">
        <!-- This optional close trigger will remove the element from the DOM. You'll need to manually add events if you need it to persist or perform further action. -->
        <button data-c-alert-close-trigger data-c-padding="half">
            <i class="material-icons">close</i>
        </button>
        <!-- This title/icon is optional. -->
        <p
            data-c-margin="bottom(quarter)"
            data-c-heading="h5"
            data-c-font-weight="bold">
            <i
                aria-hidden="true"
                class="material-icons">
                report_problem
            </i>
            <!-- Alert Title Here -->
        </p>
        <p>
            <!-- Alert Content Here -->
        </p>
    </div>
</div>
