<div
    data-clone-alert="warning"
    data-clone-radius="rounded"
    data-clone-padding="half"
    role="alert"
>
    <span
        data-clone-margin="bottom(quarter)"
        data-clone-heading="h5"
        data-clone-font-weight="bold"
    >
        <i class="material-icons">
            info
        </i>
        Optional Alert Title
    </span>

    <p>
        This is a sample warning alert. These alerts are used to display user
        interface warnings and system alerts.
    </p>
</div>
