<div
    data-clone-alert="information"
    data-clone-radius="rounded"
    data-clone-padding="half"
    role="alert"
>
    <span
        data-clone-margin="bottom(quarter)"
        data-clone-heading="h5"
        data-clone-font-weight="bold"
    >
        <i class="material-icons">
            stars
        </i>
        Optional Alert Title
    </span>

    <p>
        This is a sample informative alert. These alerts are used to display
        non-critical information to the user.
    </p>
</div>
