<a
    data-c-button="solid(c1)"
    data-c-radius="rounded"
    href="#pageTop"
    title="Scroll to the top of the page.">
    <i class="material-icons">arrow_upward</i>
    <!-- Button Text Here -->
</a>
