<div data-c-grid="middle">
    <div data-c-grid-item="tp(1of2)">
        <a
            data-c-button="solid(c1)"
            data-c-radius="rounded"
            href="#pageTop"
            title="Scroll to the top of the page.">
            <i class="material-icons">
                arrow_upward
            </i>Scroll to the Top of the Page
        </a>
    </div>
    <div data-c-grid-item="tp(1of2)">
        <a
            data-c-button="solid(c1)"
            data-c-radius="pill"
            href="#pageTop"
            title="Scroll to the top of the page.">
            <i class="material-icons">
                arrow_upward
            </i>Top
        </a>
    </div>
</div>
