<div class="flex-grid middle">

    <div class="box tp-1of2">
        <a
            class="button--c1 outline rounded"
            href="#pageTop"
            title="Scroll to the top of the page.">
            <i class="material-icons">
                arrow_upward
            </i>Scroll to the Top of the Page
        </a>
    </div>

    <div class="box tp-1of2">
        <a
            class="button--c1 outline pill"
            href="#pageTop"
            title="Scroll to the top of the page.">
            <i class="material-icons">
                arrow_upward
            </i>Top
        </a>
    </div>

</div>
