<blockquote
    data-c-blockquote
    data-c-border="left(thick, solid, c1)"
    data-c-background="c1(30)"
    data-c-padding="normal">

    <p data-c-margin="bottom">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut lectus arcu bibendum at varius vel pharetra. Aenean vel elit scelerisque mauris pellentesque pulvinar
    pellentesque habitant morbi. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus."</p>

    <p data-c-font-weight="bold">-- Author's Name, 2016</p>

</blockquote>
