<div data-clone-alignment="center">

    <nav
        aria-label="breadcrumb"
        data-clone-breadcrumbs
    >
        <ol>
            <li>
                <a
                    href="#link-to-page"
                    title="This is the title of the page link."
                >
                    Page Link 01
                </a>
                <i class="material-icons">
                    arrow_right
                </i>
            </li>
            <li>
                <a
                    href="#link-to-page"
                    title="This is the title of the page link."
                >
                    Page Link 02
                </a>
                <i class="material-icons">
                    arrow_right
                </i>
            </li>
            <li>
                <a
                    href="#link-to-page"
                    title="This is the title of the page link."
                >
                    Page Link 03
                </a>
                <i class="material-icons">
                    arrow_right
                </i>
            </li>
            <li>
                <a
                    aria-current="page"
                    href="#link-to-page"
                    title="This is the title of the page link."
                >
                    Page Link 04
                </a>
                <i class="material-icons">
                    arrow_right
                </i>
            </li>
        </ol>
    </nav>

</div>
