<div class="center">

    <nav aria-label="breadcrumb" class="breadcrumbs">
        <ol>
            <li class="breadcrumb">
                <a
                    class="breadcrumb-link"
                    href="#link-to-page"
                    title="This is the title of the page link.">
                    Page Link 01</a>
                <i class="material-icons">
                    arrow_right
                </i>
            </li>
            <li class="breadcrumb">
                <a class="breadcrumb-link" href="#link-to-page" title="This is the title of the page link.">
                    Page Link 02</a>
                <i class="material-icons">
                    arrow_right
                </i>
            </li>
            <li class="breadcrumb">
                <a class="breadcrumb-link" href="#link-to-page" title="This is the title of the page link.">
                    Page Link 03</a>
                <i class="material-icons">
                    arrow_right
                </i>
            </li>
            <li class="breadcrumb">
                <a aria-current="page" class="breadcrumb-link active" href="#link-to-page" title="This is the title of the page link.">
                    Page Link 04</a>
                <i class="material-icons">
                    arrow_right
                </i>
            </li>
        </ol>
    </nav>

</div>
