<!-- Modify the data-c-button value. -->
<button
    data-c-button="solid(stop)"
    type="button">
    <!-- Optional Icon Here -->
    <span>
        <!-- Button Text Here -->
    </span>
    <!-- Optional Icon Here -->
</button>