<div data-c-card data-c-background-color="base(white, 100)" data-c-radius="base(rounded)" data-c-padding="base(all, 2)">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, corrupti sed? Doloremque obcaecati id unde facilis. Facilis dolore id voluptatum doloribus quisquam, inventore aut et necessitatibus cumque ullam eligendi voluptatibus?</p>
</div>