<div class="carousel--image rounded">

    <!-- Carousel Frame -->

        <div class="carousel-frame">

            <ul class="carousel-wrapper">

                <li
                    class="carousel-item"
                    style="background-image:url('https://images.unsplash.com/photo-1547502752-eed9d2bb2f98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1525&q=80');">
                </li>
                <li
                    class="carousel-item"
                    style="background-image:url('https://images.unsplash.com/photo-1547532270-9cc3519ba943?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1601&q=80');">
                </li>
                <li
                    class="carousel-item"
                    style="background-image:url('https://images.unsplash.com/photo-1547473260-8c6240f0f573?ixlib=rb-1.2.1&auto=format&fit=crop&w=1503&q=80');">
                </li>

            </ul>

        </div>

    <!-- Carousel Controls -->

        <!-- Arrows -->

            <button
                class="carousel-control prev"
                type="button">
                <i class="material-icons">
                    arrow_back_ios
                </i>
            </button>

            <button
                class="carousel-control next"
                type="button">
                <i class="material-icons">
                    arrow_forward_ios
                </i>
            </button>

        <!-- Dots-->

</div>
