<div class="carousel--image">

    <!-- Carousel Frame -->

        <ul class="carousel-frame rounded">

            <li
                class="carousel-item current"
                style="background-image:url('https://images.unsplash.com/photo-1543362905-f2423ef4e0f8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');">
            </li>
            <li
                class="carousel-item next"
                style="background-image:url('https://images.unsplash.com/photo-1547133166-4e10d6f804c0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80');">
            </li>
            <li
                class="carousel-item previous"
                style="background-image:url('https://images.unsplash.com/photo-1547132534-386e033f69f2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');">
            </li>

        </ul>

    <!-- Carousel Controls -->

        <!-- Arrows -->

            <button
                class="carousel-control prev"
                type="button">
                <i class="material-icons">
                    arrow_back_ios
                </i>
            </button>

            <button
                class="carousel-control next"
                type="button">
                <i class="material-icons">
                    arrow_forward_ios
                </i>
            </button>

        <!-- Dots-->

</div>
