<div
    data-c-carousel="content"
    data-slick='{"slidesToShow": 1, "dots": true}'
>
    <div
        data-c-carousel="item"
        style="background-image:url('https://images.unsplash.com/photo-1547810689-3c16713a7a3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80');"
    >
        <div
            data-c-padding="normal"
            data-c-background="black(100)"
            data-c-margin="triple"
        >
            <h5
                data-c-heading="h5"
                data-c-margin="bottom(half)"
                data-c-font-weight="bold"
                data-c-font-colour="white"
            >
                Optional Slide Title
            </h5>

            <p data-c-font-colour="white">
                Lorem ipsum dolor sit amet,
                <a href="#">consectetur adipiscing elit</a>, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
    <div
        data-c-carousel="item"
        style="background-image:url('https://images.unsplash.com/photo-1547700784-b849e5a332ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');"
    >
        <div
            data-c-padding="normal"
            data-c-background="black(100)"
            data-c-margin="triple"
        >
            <h5
                data-c-heading="h5"
                data-c-margin="bottom(half)"
                data-c-font-weight="bold"
                data-c-font-colour="white"
            >
                Optional Slide Title
            </h5>

            <p data-c-font-colour="white">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                lectus arcu bibendum at varius vel pharetra. Aenean vel elit
                scelerisque mauris pellentesque pulvinar pellentesque habitant
                morbi. Viverra suspendisse potenti nullam ac tortor vitae purus
                faucibus.
            </p>
        </div>
    </div>
    <div
        data-c-carousel="item"
        style="background-image:url('https://images.unsplash.com/photo-1547651619-238e04d07889?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=737&q=80');"
    >
        <div
            data-c-padding="normal"
            data-c-background="black(100)"
            data-c-margin="triple"
        >
            <h5
                data-c-heading="h5"
                data-c-margin="bottom(half)"
                data-c-font-weight="bold"
                data-c-font-colour="white"
            >
                Optional Slide Title
            </h5>

            <p data-c-font-colour="white">
                Lorem ipsum dolor sit amet,
                <a href="#">consectetur adipiscing elit</a>, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
</div>
