<div data-c-carousel="image" data-slick='{"slidesToShow": 1, "dots": true}'>
    <div
        data-c-carousel="item"
        style="background-image:url('https://images.unsplash.com/photo-1547665979-bb809517610d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80');"
    ></div>
    <div
        data-c-carousel="item"
        style="background-image:url('https://images.unsplash.com/photo-1547779235-41ae109f3bad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80');"
    ></div>
    <div
        data-c-carousel="item"
        style="background-image:url('https://images.unsplash.com/photo-1547816399-a6810d86e2dd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80');"
    ></div>
</div>
