<div class="clone__center">

    <button
        class="clone__button--c1--solid clone__rounded"
        data-dialogue-action="open"
        data-dialogue-id="example-dialogue-01"
        type="button">
        Open a Dialogue
    </button>

</div>

<div class="clone__dialogue-overlay"></div>

<div
    aria-hidden="true"
    aria-describedby="example-dialogue-01-description"
    aria-labelledby="example-dialogue-01-title"
    class="clone__dialogue-scroll-wrapper clone__padding--top--double clone__padding--bottom--double"
    data-dialogue-id="example-dialogue-01"
    role="dialog">

    <div class="clone__dialogue clone__background--white clone__rounded">

        <div class="clone__dialogue-title clone__padding clone__border--bottom">

            <h5
                class="clone__heading--04"
                id="example-dialogue-01-title">Dialogue Title</h5>

            <span class="clone__heading--05 clone__margin--top--half">Optional Dialogue Subtitle</span>

            <button
                class="clone__dialogue-close-trigger"
                data-dialogue-action="close"
                data-dialogue-id="example-dialogue-01"
                type="button">
                <i class="material-icons">
                    close
                </i>
            </button>

        </div>

        <div class="clone__dialogue-body clone__border--bottom clone__padding">

            <div
                class="clone__content"
                id="example-dialogue-01-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec mi non dui sodales pellentesque. Sed non est nec lacus malesuada sodales. Pellentesque aliquet tristique aliquet. Morbi blandit eros vitae nisi venenatis, vel hendrerit quam blandit. Nulla iaculis blandit ultricies. Etiam posuere lectus non augue aliquet iaculis. Integer consequat, metus nec vehicula suscipit, libero justo tincidunt mi, eget aliquam eros lacus eget est. Nulla congue dolor a viverra luctus. Vivamus consectetur, lacus eu luctus malesuada, purus felis laoreet tellus, sed pellentesque mi mi quis lacus. Aliquam imperdiet elit nec euismod lacinia. Pellentesque nunc sem, tincidunt non dapibus eget, sollicitudin at arcu. Morbi maximus eleifend sem, ut scelerisque lorem tempus a. Mauris blandit felis vitae aliquam faucibus. Duis sit amet quam laoreet, iaculis nunc ut, accumsan velit.</p>
                <p>Suspendisse placerat massa justo, ut tempor orci dictum eget. Phasellus a placerat magna. Mauris quis risus quis nisi semper finibus ac dignissim odio. Donec ipsum nunc, porta quis mauris sit amet, ullamcorper varius lacus. Nulla tincidunt metus et neque molestie, sit amet mattis turpis vestibulum. Ut ac leo tempor, dictum magna sed, fringilla massa. Aliquam laoreet non dui ac facilisis. Aenean aliquet, nisi in posuere iaculis, libero turpis molestie orci, sit amet accumsan est sem eu diam. Donec imperdiet leo quam, vel lobortis dui semper sed. Quisque elementum neque viverra velit interdum ultricies.</p>
            </div>

        </div>

        <div class="clone__actions clone__padding">

            <div class="clone__flex-grid--gutter">
                <div class="clone__flex-box clone__pp--1of2">
                    <button
                        class="clone__button--slow--outline clone__rounded"
                        data-dialogue-action="close"
                        data-dialogue-id="example-dialogue-01">
                        Cancel
                    </button>
                </div>
                <div class="clone__flex-box--flex-right clone__pp--1of2">
                    <button
                        class="clone__button--go--solid clone__rounded"
                        data-dialogue-action="close"
                        data-dialogue-id="example-dialogue-01">
                        Okay
                    </button>
                </div>
            </div>

        </div>

    </div>

</div>
