<button
    class=""
    data-dialogue-action="open"
    data-dialogue-id="example-dialogue-01"
    type="button">
    Open dialogue 01
</button>

<div class="dialogue-overlay"></div>

<div
    aria-hidden="true"
    aria-describedby="example-dialogue-01-description"
    aria-labelledby="example-dialogue-01-title"
    class="dialogue-scroll-wrapper padding-top--double padding-bottom--double"
    data-dialogue-id="example-dialogue-01"
    role="dialog">

    <div class="dialogue background-white rounded">

        <div class="dialogue-title padding border-bottom">

            <h5 id="example-dialogue-01-title">dialogue Title</h5>

            <span class="margin-top--half">Optional Subtitle</span>

            <button
                class="dialogue-close-trigger"
                data-dialogue-action="close"
                data-dialogue-id="example-dialogue-01"
                type="button">
                <i class="material-icons">
                    close
                </i>
            </button>

        </div>

        <div class="dialogue-body border-bottom padding">

            <div
                class="content"
                id="example-dialogue-01-description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nec mi non dui sodales pellentesque. Sed non est nec lacus malesuada sodales. Pellentesque aliquet tristique aliquet. Morbi blandit eros vitae nisi venenatis, vel hendrerit quam blandit. Nulla iaculis blandit ultricies. Etiam posuere lectus non augue aliquet iaculis. Integer consequat, metus nec vehicula suscipit, libero justo tincidunt mi, eget aliquam eros lacus eget est. Nulla congue dolor a viverra luctus. Vivamus consectetur, lacus eu luctus malesuada, purus felis laoreet tellus, sed pellentesque mi mi quis lacus. Aliquam imperdiet elit nec euismod lacinia. Pellentesque nunc sem, tincidunt non dapibus eget, sollicitudin at arcu. Morbi maximus eleifend sem, ut scelerisque lorem tempus a. Mauris blandit felis vitae aliquam faucibus. Duis sit amet quam laoreet, iaculis nunc ut, accumsan velit.</p>
                <p>Suspendisse placerat massa justo, ut tempor orci dictum eget. Phasellus a placerat magna. Mauris quis risus quis nisi semper finibus ac dignissim odio. Donec ipsum nunc, porta quis mauris sit amet, ullamcorper varius lacus. Nulla tincidunt metus et neque molestie, sit amet mattis turpis vestibulum. Ut ac leo tempor, dictum magna sed, fringilla massa. Aliquam laoreet non dui ac facilisis. Aenean aliquet, nisi in posuere iaculis, libero turpis molestie orci, sit amet accumsan est sem eu diam. Donec imperdiet leo quam, vel lobortis dui semper sed. Quisque elementum neque viverra velit interdum ultricies.</p>
                <!-- <p>Donec tincidunt consectetur dictum. In turpis neque, interdum non nisl ac, varius mollis dui. Pellentesque vestibulum ligula nunc, sit amet tristique lectus bibendum quis. Donec sapien neque, rutrum ut eros nec, fermentum dignissim eros. Sed nibh nunc, dignissim eget enim ac, ullamcorper elementum enim. Pellentesque quis est vitae turpis auctor tempus. Nulla convallis ante ac tincidunt elementum.</p>
                <p>Sed sollicitudin sodales varius. Nam in molestie eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec ultrices dolor. Cras feugiat orci elit, eget rutrum libero molestie in. Curabitur consequat maximus tellus sit amet aliquam. Pellentesque eu faucibus dui. Quisque eu sem ac felis pharetra feugiat. Donec tempus sem a dignissim porta. Proin ac elit placerat, consectetur lacus eu, auctor nisi. Cras lobortis volutpat tempus.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lorem ante, facilisis a diam vel, interdum posuere sem. Duis a justo nec odio cursus porta. Pellentesque non euismod dolor. Integer quis molestie eros, a facilisis dolor. Aenean eros justo, accumsan at venenatis in, vestibulum in turpis. Nulla eleifend aliquam cursus. Nunc nisi massa, dapibus eu massa sit amet, varius pellentesque nisl. In non ipsum varius, mattis elit id, tempor odio. Integer est risus, tempus at nulla vel, placerat maximus erat. Nullam sem arcu, rhoncus et diam vitae, vehicula accumsan est. Quisque quis ornare lacus, quis mattis urna.</p> -->
            </div>

        </div>

        <div class="actions padding">
            <div class="flex-grid gutter">
                <div class="box pp-1of2">
                    <button
                        data-dialogue-action="close"
                        data-dialogue-id="example-dialogue-01">
                        Cancel
                    </button>
                </div>
                <div class="box pp-1of2">
                    <button
                        data-dialogue-action="close"
                        data-dialogue-id="example-dialogue-01">
                        Okay
                    </button>
                </div>
            </div>
        </div>

    </div>

</div>
