<div data-c-input="button">
    <label for="WB2">My Name</label>
    <span>Required</span>
    <div data-c-grid>
        <input
            data-c-grid-item="fit"
            id="WB2"
            placeholder="e.g. Clark Kent"
            type="text"
            required/>
        <button
            data-c-button="solid(c1)"
            type="button">
            Submit
        </button>
    </div>
    <span>This input has an error.</span>
</div>
