<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut lectus arcu bibendum at varius vel pharetra. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus. Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem.</p>

<blockquote
    data-c-margin="top(normal) bottom(normal)"
    data-c-alignment="base(center)">

    <span
        data-c-font-size="h3"
        data-c-font-colour="c2"
        data-c-font-style="italic"
        data-c-font-weight="bold">
        "Aenean vel elit scelerisque mauris"
    </span>

</blockquote>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut lectus arcu bibendum at varius vel pharetra. Aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus. Pulvinar etiam non quam lacus suspendisse faucibus interdum posuere lorem.</p>
