<blockquote
    data-c-margin="top(normal) bottom(normal)"
    data-c-alignment="base(center)">
    <!-- Colours, font size, font style, etc. can all be modified. -->
    <span
        data-c-font-size="h3"
        data-c-colour="c2"
        data-c-font-style="italic"
        data-c-font-weight="bold">
        <!-- Pullquote Here -->
    </span>
</blockquote>