<div data-clone-table>
    <table>
        <thead>
            <tr>
                <th scope="col">
                    Help! Tables!
                </th>
                <th scope="col">
                    Help! More Tables!
                </th>
                <th scope="col">
                    Help! Even More Tables!
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    Sample Title
                </th>
                <td>
                    This is sample content in a table.
                </td>
                <td>
                    This is sample content in a table.
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Sample Title
                </th>
                <td>
                    This is sample content in a table.
                </td>
                <td>
                    This is sample content in a table.
                </td>
            </tr>
            <tr>
                <th scope="row">
                    Sample Title
                </th>
                <td>
                    This is sample content in a table.
                </td>
                <td>
                    This is sample content in a table.
                </td>
            </tr>
        </tbody>
    </table>
</div>
