// Clone / Components / Form Elements / Password Inputs

[data-clone] {

    [data-c-input*="password"] {
        >div {
            position: relative;
            input {
                padding-right: 3rem;
            }
            button {
                appearance: none;
                background: none;
                border: none;
                color: $clone-black;
                cursor: pointer;
                position: absolute;
                top: 50%;
                right: 1rem;
                transform: translate(0, -50%);
                i:first-child {
                    display: block;
                }
                i:last-child {
                    display: none;
                }
            }
        }
        &[data-c-input*="--visible"] {
            >div {
                button {
                    i:first-child {
                        display: none;
                    }
                    i:last-child {
                        display: block;
                    }
                }
            }
        }
    }

}