<!-- Alerts can have three arguments: information, warning, error. You can also include the toast argument on any of these types to fix the alert to the bottom right of the viewport. e.g. information(toast) -->
<div
    data-c-alert="error"
    data-c-radius="rounded"
    role="alert">
    <div data-c-padding="half">
    <!-- This title/icon span is optional. -->
        <span
            data-c-margin="bottom(quarter)"
            data-c-font-weight="bold">
            <i
                aria-hidden="true"
                class="material-icons">
                report_problem
            </i>
            Sample Title
        </span>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac hendrerit arcu. Suspendisse malesuada dui non venenatis interdum. Quisque quis urna justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum vehicula ex ligula, eu pharetra nisi molestie nec. Aliquam in dapibus magna. Nam facilisis urna at volutpat lacinia. Etiam vel odio lorem. Donec nec pharetra tellus. Quisque interdum porttitor odio, ac rutrum orci sodales vel. Maecenas ac pharetra leo, non vulputate lectus.
        </p>
    </div>
    <!-- This optional close trigger will remove the element from the DOM. You'll need to manually add events if you need it to persist or perform further action. -->
    <button data-c-alert="close-trigger" data-c-padding="half">
        <i class="material-icons">close</i>
    </button>
</div>

<div
    data-c-alert="error"
    data-c-radius="rounded"
    role="alert">
    <div data-c-padding="half">
        <!-- This optional close trigger will remove the element from the DOM. You'll need to manually add events if you need it to persist or perform further action. -->
        <button data-c-alert-close-trigger data-c-padding="half">
            <i class="material-icons">close</i>
        </button>
        <!-- This title/icon span is optional. -->
        <span
            data-c-margin="bottom(quarter)"
            data-c-font-weight="bold">
            <i
                aria-hidden="true"
                class="material-icons">
                report_problem
            </i>
            Sample Title
        </span>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac hendrerit arcu. Suspendisse malesuada dui non venenatis interdum. Quisque quis urna justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum vehicula ex ligula, eu pharetra nisi molestie nec. Aliquam in dapibus magna. Nam facilisis urna at volutpat lacinia. Etiam vel odio lorem. Donec nec pharetra tellus. Quisque interdum porttitor odio, ac rutrum orci sodales vel. Maecenas ac pharetra leo, non vulputate lectus.
        </p>
    </div>
</div>
