<!-- Modify the data-c-button value. -->
<button
    data-c-button="solid(stop)"
    type="button">
    <!-- Optional Icon Here -->
    <span>
        Sample Button
    </span>
    <!-- Optional Icon Here -->
</button>

<!-- Modify the data-c-button value. -->
<button
    data-c-button="outline(c3)"
    type="button">
    <!-- Optional Icon Here -->
    <span>
        Sample Button
    </span>
    <!-- Optional Icon Here -->
</button>

<!-- Modify the data-c-button value. -->
<button
    data-c-button="solid(stop)"
    type="button">
    <!-- Optional Icon Here -->
    <span>
        Sample Button
    </span>
    <i aria-hidden="true" class="material-icons">delete_forever </i>
</button>
<br>
<br>
<br>
<!-- Modify the data-c-button value. -->
<button
    data-c-button="solid(stop)"
    type="button"
    data-c-hover-color="go">
    <!-- Optional Icon Here -->
    <span>
        Sample Button
    </span>
    <!-- Optional Icon Here -->
</button>

<!-- Modify the data-c-button value. -->
<button
    data-c-button="outline(c3)"
    type="button"
    data-c-hover-color="go">
    <!-- Optional Icon Here -->
    <span>
        Sample Button
    </span>
    <!-- Optional Icon Here -->
</button>

<!-- Modify the data-c-button value. -->
<button
    data-c-button="solid(stop)"
    type="button"
    data-c-hover-color="go">
    <!-- Optional Icon Here -->
    <span>
        Sample Button
    </span>
    <i aria-hidden="true" class="material-icons">delete_forever </i>
</button>