<div data-c-background="black(100)">
    <div data-c-container="full">
        <div data-c-container="medium" data-c-background="white(20)" data-c-padding="tb(3)">
        </div>
        <hr data-c-hr="thin(white)" data-c-margin="tb(2)">
        <div data-c-container="medium(left)" data-c-background="white(20)" data-c-padding="tb(3)">
        </div>
        <hr data-c-hr="thin(white)" data-c-margin="tb(2)">
        <div data-c-container="medium(center)" data-c-background="white(20)" data-c-padding="tb(3)">
        </div>
        <hr data-c-hr="thin(white)" data-c-margin="tb(2)">
        <div data-c-container="medium(right)" data-c-background="white(20)" data-c-padding="tb(3)">
        </div>
        <hr data-c-hr="thin(white)" data-c-margin="tb(2)">
    </div>
</div>

<hr data-c-margin="tb(2)">

<div data-c-background="black(100)">
    <div data-c-container="base(full, center) tp(small, right)">
        <div data-c-container="base(large, left) tp(medium, right) tl(small, center)" data-c-background="white(20)" data-c-padding="tb(3)">
        </div>
        <hr data-c-hr="thin(white)" data-c-margin="tb(2)">
        <div data-c-container="tp(medium, left) tl(small, right)" data-c-background="white(20)" data-c-padding="tb(3)">
        </div>
        <hr data-c-hr="thin(white)" data-c-margin="tb(2)">
        <div data-c-container="medium(center)" data-c-background="white(20)" data-c-padding="tb(3)">
        </div>
        <hr data-c-hr="thin(white)" data-c-margin="tb(2)">
        <div data-c-container="medium(right)" data-c-background="white(20)" data-c-padding="tb(3)">
        </div>
        <hr data-c-hr="thin(white)" data-c-margin="tb(2)">
    </div>
</div>