<div data-c-padding="tb(2)">
    <div data-c-grid="gutter(all, .5)">
        <div data-c-input="email" data-c-grid-item="tl(1of2)">
            <label for="EM2">My Email</label>
            <span>Required (100 words remaining)</span>
            <div>
                <input id="EM2" placeholder="e.g. bruce@waynefoundation.com" required type="email" />
            </div>
            <span>This input has an error.</span>
        </div>
        <div data-c-input="email" data-c-grid-item="tl(1of2)">
            <label for="EM2">My Email</label>
            <span>Required</span>
            <div>
                <input id="EM2" placeholder="e.g. bruce@waynefoundation.com" required type="email" />
            </div>
            <span>This input has an error.</span>
        </div>
        <div data-c-grid-item="base(1of1)">
            <div data-c-grid="gutter(all, 2)">
                <div data-c-input="email" data-c-grid-item="tl(1of2)">
                    <label for="EM2">My Email</label>
                    <span>Required</span>
                    <div>
                        <input id="EM2" placeholder="e.g. bruce@waynefoundation.com" required type="email" />
                    </div>
                    <span>This input has an error.</span>
                </div>
                <div data-c-input="email" data-c-grid-item="tl(1of2)">
                    <label for="EM2">My Email</label>
                    <span>Required</span>
                    <div>
                        <input id="EM2" placeholder="e.g. bruce@waynefoundation.com" required type="email" />
                    </div>
                    <span>This input has an error.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-c-padding="tb(2)">
    <div data-c-grid="gutter(all, 1)">
        <div data-c-input="email" data-c-grid-item="tl(1of2)">
            <label for="EM2">My Email</label>
            <span>Required</span>
            <div>
                <input id="EM2" placeholder="e.g. bruce@waynefoundation.com" required type="email" />
            </div>
            <span>This input has an error.</span>
        </div>
        <div data-c-input="email" data-c-grid-item="tl(1of2)">
            <label for="EM2">My Email</label>
            <span>Required</span>
            <div>
                <input id="EM2" placeholder="e.g. bruce@waynefoundation.com" required type="email" />
            </div>
            <span>This input has an error.</span>
        </div>
    </div>
</div>

<div data-c-padding="tb(2)">
    <div data-c-grid="gutter(all, 3)">
        <div data-c-input="email" data-c-grid-item="tl(1of2)">
            <label for="EM2">My Email</label>
            <span>Required</span>
            <div>
                <input id="EM2" placeholder="e.g. bruce@waynefoundation.com" required type="email" />
            </div>
            <span>This input has an error.</span>
        </div>
        <div data-c-input="email" data-c-grid-item="tl(1of2)">
            <label for="EM2">My Email</label>
            <span>Required</span>
            <div>
                <input id="EM2" placeholder="e.g. bruce@waynefoundation.com" required type="email" />
            </div>
            <span>This input has an error.</span>
        </div>
        <div data-c-grid-item="base(1of1)">
            <div data-c-grid="gutter(all, 2)">
                <div data-c-input="email" data-c-grid-item="tl(1of2)">
                    <label for="EM2">My Email</label>
                    <span>Required</span>
                    <div>
                        <input id="EM2" placeholder="e.g. bruce@waynefoundation.com" required type="email" />
                    </div>
                    <span>This input has an error.</span>
                </div>
                <div data-c-input="email" data-c-grid-item="tl(1of2)">
                    <label for="EM2">My Email</label>
                    <span>Required</span>
                    <div>
                        <input id="EM2" placeholder="e.g. bruce@waynefoundation.com" required type="email" />
                    </div>
                    <span>This input has an error.</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div data-c-padding="tb(2)">
    <div data-c-input="email">
        <label for="EM2">My Email</label>
        <span>Required</span>
        <div>
            <input id="EM2" placeholder="e.g. bruce@waynefoundation.com" required type="email" />
        </div>
        <span>This input has an error.</span>
    </div>
    <div data-c-input="email">
        <label for="EM2">My Email</label>
        <span>Required</span>
        <div>
            <input id="EM2" placeholder="e.g. bruce@waynefoundation.com" required type="email" />
        </div>
        <span>This input has an error.</span>
    </div>
</div>