<div data-c-margin="bottom(4)" data-c-padding="bottom(4)" data-c-border="bottom(thin, solid, gray)">
    <div data-c-grid>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
    </div>
</div>

<div data-c-margin="bottom(4)" data-c-padding="bottom(4)" data-c-border="bottom(thin, solid, gray)">
    <div data-c-grid="gutter">
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
    </div>
</div>

<div data-c-margin="bottom(4)" data-c-padding="bottom(4)" data-c-border="bottom(thin, solid, gray)">
    <div data-c-grid="gutter(horizontal, 1)">
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
    </div>
</div>

<div data-c-margin="bottom(4)" data-c-padding="bottom(4)" data-c-border="bottom(thin, solid, gray)">
    <div data-c-grid="gutter(4)">
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
    </div>
</div>

<div data-c-margin="bottom(4)" data-c-padding="bottom(4)" data-c-border="bottom(thin, solid, gray)">
    <div data-c-grid="gutter(vertical, 2)">
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
        <div data-c-grid-item="tl(1of3)">
            <div data-c-background="c1(100)" data-c-radius="rounded" data-c-padding="all(triple)"></div>
        </div>
    </div>
</div>