<h1 data-c-heading="h1">This is a sample h1.</h1>
<h2 data-c-heading="h2">This is a sample h2.</h1>
<h3 data-c-heading="h3">This is a sample h3.</h1>
<h4 data-c-heading="h4">This is a sample h4.</h1>
<h5 data-c-heading="h5">This is a sample h5.</h1>

<h1 data-c-heading="h1" data-c-margin="top(3) bottom(1)" data-c-padding="bottom(1)">This is a sample h1.</h1>
<h2 data-c-heading="h2" data-c-margin="top(3) bottom(1)" data-c-padding="bottom(1)">This is a sample h2.</h1>
<h3 data-c-heading="h3" data-c-margin="top(3) bottom(1)" data-c-padding="bottom(1)">This is a sample h3.</h1>
<h4 data-c-heading="h4" data-c-margin="top(3) bottom(1)" data-c-padding="bottom(1)">This is a sample h4.</h1>
<h5 data-c-heading="h5" data-c-margin="top(3) bottom(1)" data-c-padding="bottom(1)">This is a sample h5.</h1>