<button 
    type="button"
    data-c-button="solid(c5)"
    data-c-menu-mobile-trigger>
    <span>Open</span><span>Close</span> Menu
</button>

<nav data-c-menu data-c-container="large">
    <ul>
        <li>
            <a href="http://google.com" title="">Home</a>
        </li>
        <li>
            <a href="#hello" title="">About</a>
        </li>
        <li>
            <a href="" title="">Information</a>
        </li>
        <li>
            <a href="" title="">Blog</a>
        </li>
        <li>
            <a href="" title="">Resources</a>
            <button data-c-menu-submenu-trigger>
                <i data-c-menu-add class="material-icons">add</i>
                <i data-c-menu-remove class="material-icons">remove</i>
            </button>
            <ul>
                <li>
                    <a href="" title="">A paper type resource that has a really long name.</a>
                </li>
                <li>
                    <a href="" title="">A Water Resource</a>
                    <button data-c-menu-submenu-trigger>
                        <i data-c-menu-add class="material-icons">add</i>
                        <i data-c-menu-remove class="material-icons">remove</i>
                    </button>
                    <ul>
                        <li>
                            <a href="" title="">A paper type resource that has a really long name.</a>
                        </li>
                        <li>
                            <a href="" title="">A Water Resource</a>
                            <button data-c-menu-submenu-trigger>
                                <i data-c-menu-add class="material-icons">add</i>
                                <i data-c-menu-remove class="material-icons">remove</i>
                            </button>
                            <ul>
                                <li>
                                    <a href="" title="">A paper type resource that has a really long name.</a>
                                </li>
                                <li>
                                    <a href="" title="">A Water Resource</a>
                                    <button data-c-menu-submenu-trigger>
                                        <i data-c-menu-add class="material-icons">add</i>
                                        <i data-c-menu-remove class="material-icons">remove</i>
                                    </button>
                                    <ul>
                                        <li>
                                            <a href="" title="">A paper type resource that has a really long name.</a>
                                        </li>
                                        <li>
                                            <a href="" title="">A Water Resource</a>
                                            <button data-c-menu-submenu-trigger>
                                                <i data-c-menu-add class="material-icons">add</i>
                                                <i data-c-menu-remove class="material-icons">remove</i>
                                            </button>
                                            <ul>
                                                <li>
                                                    <a href="" title="">A paper type resource that has a really long name.</a>
                                                </li>
                                                <li>
                                                    <a href="" title="">A Water Resource</a>
                                                </li>
                                                <li>
                                                    <a href="" title="">An Earth Resource</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="" title="">An Earth Resource</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" title="">An Earth Resource</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="" title="">An Earth Resource</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" title="">An Earth Resource</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="" title="">Contact</a>
        </li>
    </ul>
</nav>