// Clone / Components / Carousels (Glider.js) / Image Carousel

[data-clone] {

    [data-c-carousel="image"] {
        overflow: hidden;
        position: relative;
        margin: 0 0 5rem 0;
        [data-c-carousel="item"],
        [data-c-carousel-item] {
            background-position: center;
            background-size: cover;
            height: 0 !important;
            padding-top: 16.25%;
        }
    }

}