<div data-c-carousel-wrapper>
    <div data-c-carousel="image">
        <!-- Carousel Item (Repeat as Necessary) -->
        <div data-c-carousel-item style="background-image:url('');"></div>
    </div>
    <button role="button" aria-label="Previous" data-c-carousel-arrow="prev"><i class="material-icons">arrow_back_ios</i></button>
    <button role="button" aria-label="Next" data-c-carousel-arrow="next"><i class="material-icons">arrow_forward_ios</i></button>
    <div role="tablist" data-c-carousel-dots></div>
</div>