// =============================================================================

    // Clone
    // Accordions

// =============================================================================

[data-c-accordion*="group"],
[data-c-accordion-group] {
    [data-c-accordion="accordion"],
    [data-c-accordion=""] {
        border-bottom: 1px solid $clone-accordion-border-colour;
        [data-c-accordion="trigger"],
        [data-c-accordion-trigger] {
            background: none;
            border: none;
            cursor: pointer;
            position: relative;
            text-align: left;
            width: 100%;

            // Old
            [data-c-accordion*="icon"] {
                font-size: $clone-font-scale-h4;
                position: absolute;
                top: 50%;
                right: 2rem;
                transform: translate(0, -50%);

                &[data-c-accordion*="--add"] {
                    display: block;
                }

                &[data-c-accordion*="--remove"] {
                    display: none;
                }
            }
            
            // New
            [data-c-accordion-add] {
                display: block;
                font-size: $clone-font-scale-h4;
                position: absolute;
                top: 50%;
                right: 2rem;
                transform: translate(0, -50%);
            }
            [data-c-accordion-remove] {
                display: none;
                font-size: $clone-font-scale-h4;
                position: absolute;
                top: 50%;
                right: 2rem;
                transform: translate(0, -50%);
            }

            @each $key, $value in $clone-colour-map {
                @each $alpha in $clone-opacity-list {
                    $newValue: unquote($key)+"("+$alpha+")";
                    &[data-c-background="#{$newValue}"] {
                        $decimal: $alpha / 100;
                        background: rgba($value, $decimal)
                    }
                }
            };
        }

        [data-c-accordion="content"],
        [data-c-accordion-content] {
            display: none;
            form {
                padding-bottom: 0;
            }
        }

        // States ------------------------------------------------------------------

            &:first-of-type {
                border-top: 1px solid $clone-accordion-border-colour;
            }

            &.active {
                [data-c-accordion="trigger"],
                [data-c-accordion-trigger] {
                    // Old
                    [data-c-accordion*="icon"] {
                        &[data-c-accordion*="--add"] {
                            display: none;
                        }
                        &[data-c-accordion*="--remove"] {
                            display: block;
                        }
                    }
                    // New
                    [data-c-accordion-add] {
                        display: none;
                    }
                    [data-c-accordion-remove] {
                        display: block;
                    }
                }
                [data-c-accordion="content"],
                [data-c-accordion-content] {
                    display: block;
                }

            }

    }
}

[data-c-accordion="group(alt)"] {
    [data-c-accordion="accordion"] {
        &:nth-child(odd) {
            background: $clone-accordion-alternating-background-colour;
        }
    }
}

[data-c-accordion-group="alt"] {
    [data-c-accordion] {
        &:nth-child(odd) {
            background: $clone-accordion-alternating-background-colour;
        }
    }
}
