// =============================================================================

    // Clone
    // Accordions

// =============================================================================

.accordion {

    .accordion-trigger {
        cursor: pointer;
        position: relative;

        [class*="accordion-icon--"] {
            font-size: $font-scale--h4;
            position: absolute;
            top: 50%;
            right: 1.5rem;
            transform: translate(0, -50%);

            &[class*="add"] {
                display: block;
            }

            &[class*="remove"] {
                display: none;
            }

        }

    }

    .accordion-content {
        display: none;

        form {
            padding-bottom: 0;
        }

    }

    // States ------------------------------------------------------------------

        &:first-of-type {
            border-top: 1px solid $gray;
        }

        &.active {

            .accordion-trigger {

                [class*="accordion-icon--"] {

                    &[class*="add"] {
                        display: none;
                    }

                    &[class*="remove"] {
                        display: block;
                    }

                }

            }

            .accordion-content {
                display: block;
            }

        }

}
