// Clone: Alert Component
[data-c-alert] {
    align-items: flex-start;
    display: flex;
    >div {
        [data-c-alert="close-trigger"],
        [data-c-alert-close-trigger] {
            background: none;
            border: none;
            cursor: pointer;
            float: right;
            margin-top: calc((#{$clone-margin} / 2) * -1);
            margin-right: calc((#{$clone-margin} / 2) * -1);
            i {
                margin-right: .15rem;
                margin-left: .15rem;
            }
        }
        p:first-of-type img,
        span:first-of-type img {
            max-width: 1.5rem;
            vertical-align: middle;
        }
    }
    i {
        vertical-align: middle;
    }
}
[data-c-alert-close-trigger] {
    background: none;
    border: none;
    cursor: pointer;
    span {
        line-height: 1;
    }
    img {
        max-width: 1.5rem;
    }
}
[data-c-alert*="information"] {
    background: mix(white, $clone-alert-information, 75%);
    border: 1px solid darken($clone-alert-information, 25%);
    color: darken($clone-alert-information, 25%);
    * {
        color: darken($clone-alert-information, 25%);
    }
}
[data-c-alert*="warning"] {
    background: mix(white, $clone-alert-warning, 75%);
    border: 1px solid darken($clone-alert-warning, 25%);
    color: darken($clone-alert-warning, 25%);
    * {
        color: darken($clone-alert-warning, 25%);
    }
}
[data-c-alert*="error"] {
    background: mix(white, $clone-alert-error, 75%);
    border: 1px solid darken($clone-alert-error, 25%);
    color: darken($clone-alert-error, 25%);
    * {
        color: darken($clone-alert-error, 25%);
    }
}
[data-c-alert*="toast"] {
    margin: 0 auto;
    max-width: 90vw;
    position: fixed;
    right: 5vw;
    bottom: 5vw;
    z-index: 100000;
    @media #{$clone-tablet-portrait} {
        max-width: 35rem;
        right: 2rem;
        bottom: 2rem;
    }
}
