// =============================================================================

    // Clone
    // Alerts

// =============================================================================

.alert {
    position: relative;

    // Types -------------------------------------------------------------------

        &--information {
            background: rgba($alert--information, .2);
            border: 1px solid darken($alert--information, 10%);
            color: darken($alert--information, 10%);
        }

        &--warning {
            background: rgba($alert--warning, .2);
            border: 1px solid darken($alert--warning, 10%);
            color: darken($alert--warning, 10%);
        }

        &--error {
            background: rgba($alert--error, .2);
            border: 1px solid darken($alert--error, 10%);
            color: darken($alert--error, 10%);
        }

}
