// =============================================================================

    // Clone
    // Alerts

// =============================================================================

[data-clone-alert="information"] {
    background: rgba($clone__alert--information, .2);
    border: 1px solid darken($clone__alert--information, 10%);
    color: darken($clone__alert--information, 10%);
}

[data-clone-alert="warning"] {
    background: rgba($clone__alert--warning, .2);
    border: 1px solid darken($clone__alert--warning, 10%);
    color: darken($clone__alert--warning, 10%);
}

[data-clone-alert="error"] {
    background: rgba($clone__alert--error, .2);
    border: 1px solid darken($clone__alert--error, 10%);
    color: darken($clone__alert--error, 10%);
}
