// =============================================================================

    // Clone
    // Back-to-top Link

// =============================================================================

.clone__back-to-top-link {
    border-radius: 0 0 5px 5px;
    border-top: 1px solid white;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    display: inline-block;
    position: relative;
    top: -1px;

    i {
        margin-top: -.25rem;
        margin-right: .5rem;
        vertical-align: middle;
    }

}
