// =============================================================================

    // Clone
    // Blockquotes

// =============================================================================

.clone-blockquote {
    background: rgba($clone-blockquote-color, .2);
    border-left: .25rem solid darken($clone-blockquote-color, 10%);

    .clone-blockquote-author {
        color: darken($clone-blockquote-color, 10%);
        text-align: right;
    }

}
