// =============================================================================

    // Clone
    // Breadcrumbs

// =============================================================================

[data-c-breadcrumbs] {

    ol,
    ul {
        margin: -.5rem;
        list-style: none;
        padding: 0;

        li {
            display: inline-block;
            line-height: calc(#{$clone-line-height} * 1.5);
            margin: 0;

            a {
                margin: .5rem;
                transition: color .2s ease;

                // States ------------------------------------------------------

                    &[aria-current="page"] {
                        font-weight: 700;
                        pointer-events: none;
                        text-decoration: none;
                    }

                    &:hover,
                    &:focus {
                        color: $clone-focus-colour;
                        transition: color .2s ease;
                    }

            }

            p[aria-current="page"], 
            span[aria-current="page"] {
                font-weight: 700;
                margin: .5rem;
                pointer-events: none;
                text-decoration: none;
            }

            i {
                margin-top: -.25rem;
                vertical-align: middle;
            }

            // States ----------------------------------------------------------

                &:last-child {

                    a {
                        font-weight: 700;
                        pointer-events: none;
                        text-decoration: none;
                    }

                    i {
                        display: none;
                    }

                }

        }

    }

}
