// =============================================================================

    // Clone
    // Breadcrumbs

// =============================================================================

[data-clone-breadcrumbs] {

    ol {
        list-style: none;

        li {
            display: inline-block;
            line-height: calc(#{$clone__line-height} * 1.5);

            a {
                transition: color .2s ease;

                // States ------------------------------------------------------

                    &[aria-current="page"] {
                        font-weight: 700;
                        text-decoration: none;
                    }

                    &:hover,
                    &:focus {
                        color: $clone__focus-colour;
                        transition: color .2s ease;
                    }

            }

            i {
                margin-top: -.25rem;
                vertical-align: middle;
            }

            // States ----------------------------------------------------------

                &:last-child {

                    i {
                        display: none;
                    }

                }

        }

    }

}
