// =============================================================================

    // Clone
    // Buttons

// =============================================================================

a[data-clone-button] {
    display: inline-block;
    max-width: 100%;
    text-decoration: underline;
    vertical-align: middle;
}

[data-clone-button] {
    border: none;
    cursor: pointer;
    outline: none;
    padding: .6rem 2rem .7rem;
    text-align: center;
    transition: all .2s ease;

    i {
        margin: -.2rem .25rem 0 -.5rem;
        vertical-align: middle;
    }

    // States ------------------------------------------------------------------

        &:hover {
            background: rgba($clone__focus-colour, .2);
            border-color: $clone__focus-colour;
            color: $clone__focus-colour;
            transition: all .2s ease;
        }

        &:focus {
            box-shadow: -3px -3px 0 $clone__focus-colour, 3px -3px 0 $clone__focus-colour, 3px 3px 0 $clone__focus-colour, -3px 3px 0 $clone__focus-colour;
        }

        &:disabled {
            background: lighten($clone__grey, 30%);
            border-color: lighten($clone__grey, 30%);
            color: $clone__grey;
            pointer-events: none;
        }

}

// Variations ------------------------------------------------------------------

    $clone-button-style-list: ("solid", "outline");

    @each $style in $clone-button-style-list {
        @each $key, $value in $clone-colour-map {
            @if $style == "solid" {
                [data-clone-button="#{$style}(#{$key})"] {
                    background: $value;
                    border: 1px solid $value;
                    color: contrasting-color($value, $clone__white, $clone__black);
                }
            }
            @if $style == "outline" {
                [data-clone-button="#{$style}(#{$key})"] {
                    background: none;
                    border: 1px solid $value;
                    color: $value;
                }
            }
        }
    };
