// =============================================================================

    // Clone
    // Buttons

// =============================================================================

a[data-c-button] {
    display: inline-block;
    max-width: 100%;
    text-decoration: underline;
    vertical-align: middle;
}

[data-c-button]:not([data-c-button="reset"]) {
    border: none;
    cursor: pointer;
    font-family: $clone-font-default;
    font-size: $clone-default-font-size;
    outline: none;
    text-align: center;
    transition: all .2s ease;
    padding: calc(#{$clone-padding} / 2) #{$clone-padding};
    @media #{$clone-tablet-portrait} {
        padding: calc((#{$clone-padding} / 2) * #{$clone-whitespace-multiplier}) calc(#{$clone-padding} * #{$clone-whitespace-multiplier});
    }
    @media #{$clone-desktop-large} {
        padding: calc(((#{$clone-padding} / 2) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier}) calc((#{$clone-padding} * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
    }

    i {
        font-size: inherit;
        line-height: 1;
        margin-top: -.2rem;
        transition: all .2s ease;
        vertical-align: middle;
    }

    span {
        margin-right: .5rem;
    }

    i+span {
        margin-right: 0;
        margin-left: .5rem;
    }

        // States --------------------------------------------------------------
        @media (hover: hover) {
            &:hover {
                background: rgba($clone-focus-colour, .2);
                border-color: $clone-focus-colour;
                color: $clone-focus-colour;
                transition: all .2s ease;
                i {
                    color: $clone-focus-colour;
                    transition: all .2s ease;
                }
            }
        }
        &:focus {
            box-shadow: -3px -3px 0 $clone-focus-colour, 3px -3px 0 $clone-focus-colour, 3px 3px 0 $clone-focus-colour, -3px 3px 0 $clone-focus-colour;
        }
        &:disabled {
            background: lighten($clone-grey, 30%);
            border-color: lighten($clone-grey, 30%);
            color: $clone-grey;
            pointer-events: none;
        }

}

// IE 11 Hover Support
&[id*="Trident/7.0"] {
    [data-c-button]:not([data-c-button="reset"]) {
        &:hover {
            background: rgba($clone-focus-colour, .2);
            border-color: $clone-focus-colour;
            color: $clone-focus-colour;
            transition: all .2s ease;
            i {
                color: $clone-focus-colour;
                transition: all .2s ease;
            }
        }
    }
}

// Variations ------------------------------------------------------------------

    $clone-button-style-list: ("solid", "outline");

    @each $style in $clone-button-style-list {
        @each $key, $value in $clone-colour-map {
            @if $style == "solid" {
                [data-c-button="#{$style}(#{$key})"] {
                    background: $value;
                    border: 1px solid $value;
                    color: contrasting-color($value, $clone-white, $clone-black);
                    i {
                        color: contrasting-color($value, $clone-white, $clone-black);
                    }
                    &:visited {
                        color: contrasting-color($value, $clone-white, $clone-black);
                    }
                }
            }
            @if $style == "outline" {
                [data-c-button="#{$style}(#{$key})"] {
                    background: none;
                    border: 1px solid $value;
                    color: $value;
                    i {
                        color: $value;
                    }
                }
            }
        }
    };

    [data-c-button="reset"] {
        background: none;
        border: none;
        cursor: pointer;
        @media (hover: hover) {
            &:hover {
                color: $clone-focus-colour;
                transition: all .2s ease;
                i {
                    color: $clone-focus-colour;
                    transition: all .2s ease;
                }
            }
            &:disabled {
                color: $clone-grey;
                pointer-events: none;
            }
        }
    }
