// =============================================================================

    // Clone
    // Carousels

// =============================================================================

[class*="carousel--"] {
    height: 100%;
    position: relative;

    .carousel-frame {
        list-style: none;
        overflow: hidden;
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        width: 100%;
        z-index: 5;

        .carousel-wrapper {
            display: flex;
            height: 100%;
            list-style: none;
            position: absolute;
            top: 0;

            .carousel-item {
                background-position: center;
                background-size: cover;
                cursor: pointer;
                height: 100%;
                position: relative;
                transition: all 1s;
            }

            // States ----------------------------------------------------------

                &.shifting {
                    transition: left .2s ease-out;
                }

        }

    }

    .carousel-control {
        background: rgba($black, .75);
        border: 0;
        height: 100%;
        position: absolute;
        top: 0;
        width: 5vw;
        z-index: 10;

        i {
            color: $white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        // Types ---------------------------------------------------------------

            &.prev {
                left: 0;
            }

            &.next {
                right: 0;
            }

    }

    // Types -------------------------------------------------------------------

        [class*="image"] {

        }

        [class*="content"] {

        }

}
