// =============================================================================

    // Clone
    // Carousels

// =============================================================================

[data-c-carousel-wrapper] {
    .slick-list {
        // border-radius: 5px;
        .slick-track {
            display: flex;
            .slick-slide {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: auto;
            }
        }
    }
    .slick-slide .slick-list .slick-track >div {
        // margin-right: 10vw;
        // margin-left: 10vw;
    }
    [data-c-carousel-arrow] {
        background: rgba($clone-black, .5);
        border: none;
        cursor: pointer;
        display: none !important;
        font-size: $clone-font-scale-h3;
        height: 100%;
        position: absolute;
        top: 0;
        transition: all .2s ease;
        width: 5vw;
        z-index: 5;
        @media #{$clone-tablet-landscape} {
            display: block !important;
        }
        i {
            color: $clone-white;
            font-size: inherit;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
            // States ----------------------------------------------------------
            &:hover,
            &:focus {
                background: rgba($clone-black, .8);
                transition: all .2s ease;
            }

            // Types -----------------------------------------------------------
            &[data-c-carousel-arrow="prev"] {
                // border-radius: 5px 0 0 5px;
                left: 0;
            }

            &[data-c-carousel-arrow="next"] {
                // border-radius: 0 5px 5px 0;
                right: 0;
            }
    }
    [data-c-carousel-dots] {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%, 100%);
        button {
            background: $clone-carousel-dot-colour;
            border-radius: 100%;
            display: inline-block;
            margin: 0 .5rem;
            transition: all .2s ease;
            border: 0;
            color: $clone-white;
            cursor: pointer;
            height: 2rem;
            width: 2rem;
            // States ----------------------------------------------------------
            &.active,
            &:hover,
            &:focus {
                background: $clone-carousel-dot-active-colour;
                transition: all .2s ease;
            }
        }
    }
}
[data-c-carousel="item"],
[data-c-carousel-item] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding-right: 10vw;
    padding-left: 10vw;
}
[data-c-carousel="image"] {
    overflow: hidden;
    position: relative;
    margin: 0 0 5rem 0;
    [data-c-carousel="item"],
    [data-c-carousel-item] {
        background-position: center;
        background-size: cover;
        height: 0 !important;
        padding-top: 16.25%;
    }
}
[data-c-carousel="content"] {
    overflow: hidden;
    position: relative;
    margin: 0 0 5rem 0;
    [data-c-carousel="item"],
    [data-c-carousel-item] {
        background-position: center;
        background-size: cover;
    }
}
