// =============================================================================

    // Clone
    // Code

// =============================================================================
pre {
    background: $clone-code-background;
    color: contrasting-color($clone-code-background, $clone-white, $clone-black);
    font-family: $clone-font-monospace;
    font-size: $clone-default-font-size;
    overflow: auto;
    padding: 0;
    code {
        padding: 0 !important;
        * {
            font-family: $clone-font-monospace;
            font-size: $clone-default-font-size;
        }
    }
    * {
        font-family: $clone-font-monospace;
        font-size: $clone-default-font-size;
    }
}

code {
    background: $clone-code-background;
    color: contrasting-color($clone-code-background, $clone-white, $clone-black);
    font-family: $clone-font-monospace;
    font-size: inherit;
    padding: calc(#{$clone-padding} / 6) calc(#{$clone-padding} / 3) !important;
    @media #{$clone-tablet-portrait} {
        padding: calc((#{$clone-padding} / 6) * #{$clone-whitespace-multiplier}) calc((#{$clone-padding} / 3) * #{$clone-whitespace-multiplier}) !important;
    }
    @media #{$clone-desktop-large} {
        padding: calc(((#{$clone-padding} / 6) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier}) calc(((#{$clone-padding} / 3) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier}) !important;
    }
    * {
        font-family: $clone-font-monospace;
        font-size: $clone-default-font-size;
    }
}