// =============================================================================

    // Clone
    // Code

// =============================================================================
pre {
    background: $clone-code-background;
    color: contrasting-color($clone-code-background, $clone-white, $clone-black);
    font-family: $clone-font--monospace;
    padding: calc(#{$clone-padding});
    @media #{$clone-tablet-portrait} {
        padding: calc((#{$clone-padding}) * #{$clone-whitespace-multiplier});
    }
    @media #{$clone-desktop-large} {
        padding: calc(((#{$clone-padding}) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
    }
}

code {
    background: $clone-code-background;
    color: contrasting-color($clone-code-background, $clone-white, $clone-black);
    font-family: $clone-font--monospace;
    padding: calc(#{$clone-padding} / 6);
    @media #{$clone-tablet-portrait} {
        padding: calc((#{$clone-padding} / 6) * #{$clone-whitespace-multiplier});
    }
    @media #{$clone-desktop-large} {
        padding: calc(((#{$clone-padding} / 6) * #{$clone-whitespace-multiplier}) * #{$clone-whitespace-multiplier});
    }
}