// =============================================================================

    // Clone
    // Dialogs

// =============================================================================

[data-c-dialog-overlay] {
    background: rgba(0, 0, 0, .9);
    height: 100vh;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-100vw, 0);
    transition: transform 0s linear .4s, opacity .2s ease .2s;
    width: 100vw;
    z-index: 100000000;
}

[data-c-dialog-overlay*="active"] {
    opacity: 1;
    transform: translate(0, 0);
    transition: transform 0s linear, opacity .2s ease;
}

[data-c-dialog] {
    height: 100vh;
    opacity: 0;
    position: fixed;
    transform: translate(-100vw, 0%);
    transition: all 0s ease;
    width: 100vw;
    z-index: 1000000000;

    >div {
        margin-top: 0;
        margin-right: auto;
        margin-left: auto;
        width: 90vw;
        @media #{$clone-tablet-landscape} {
            width: 75vw;
        }
        @media #{$clone-desktop-medium} {
            width: 50vw;
        }
        >div:nth-child(1) {
            position: relative;
            [data-c-dialog-action="close"] {
                background: none;
                border: none;
                border-radius: 100%;
                cursor: pointer;
                outline: none;
                position: absolute;
                top: $clone-padding;
                right: $clone-padding;
                transition: color .3s ease;
                width: $clone-font-scale-h1;
                &:after {
                    content: " ";
                    display: block;
                    padding-bottom: 100%;
                }
                span {
                    line-height: 1;
                }
                i,
                span {
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                img {
                    display: block;
                    max-width: 1.5rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
                    // States ------------------------------------------------------
                    &:hover {
                        color: $clone-stop;
                        transition: color .3s ease;
                    }
                    &:focus {
                        border: solid 3px $clone-focus-color;
                        transition: border .2s ease;
                    }
            }
        }
    }

        // States ------------------------------------------------------------------
        &[data-c-dialog="active--contained"] {
            height: auto;
            opacity: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: transform 0s linear, opacity .2s ease .2s;
        }
        &[data-c-dialog="active--overflowing"] {
            height: 100vh;
            opacity: 1;
            overflow: auto;
            top: 0;
            left: 50%;
            transform: translate(-50%, 0%);
            transition: transform 0s linear, opacity .2s ease .2s;
        }

}
