// =============================================================================

    // Clone
    // iFrames

// =============================================================================

[data-c-iframe] {
    height: 0;
    padding: 0 0 56.25%;
    position: relative;

    iframe {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }

}
