// =============================================================================

    // Clone
    // Tables

// =============================================================================
[data-c-table] {
    overflow: auto;
    width: 100%;
    table {
        border: 1px solid $clone-black;
        border-collapse: collapse;
        min-width: 40rem;
        text-align: left;
        @media #{$clone-tablet-landscape} {
            min-width: 100%;
        }
        thead {
            border-bottom: 1px solid $clone-black;
            tr {
                th {
                    background: $clone-table-heading-colour;
                    color: contrasting-color($clone-table-heading-colour, $clone-white, $clone-black);
                    padding: #{$clone-padding};
                }
                td {
                    padding: #{$clone-padding};
                }
            }
        }
        tbody {
            tr {
                &:nth-child(even) {
                    background: rgba(0, 0, 0, .1);
                }
                th {
                    background: rgba(0, 0, 0, .1);
                    padding: #{$clone-padding};
                }
                td {
                    padding: #{$clone-padding};
                }
            }
        }
    }
}
