// Buttons =====================================================================

    .button-grid {
        margin: -.5rem calc(-.5rem + 2px);

        [class*="button--"] {
            margin: .5rem calc(.5rem - 2px);
        }

    }

    [class*="button--"] {
        appearance: none;
        background: none;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: calc(1rem + 3.5px) 1.5rem;
        text-decoration: underline;

        &[class*="solid--"] {
            border: 1px solid rgba(255, 255, 255, 0);
            font-weight: 800;

            &[class*="plum"] {
                background: $plum;
                color: $white;
            }

            &[class*="wine"] {
                background: $wine;
                color: $white;
            }

            &[class*="crimson"] {
                background: $crimson;
                color: $white;
            }

            &[class*="sunrise"] {
                background: $sunrise;
                color: $white;
            }

        }

        &[class*="outline--"] {

            &[class*="plum"] {
                border: 1px solid $plum;
                color: $plum;
                font-weight: 600;
            }

            &[class*="wine"] {
                border: 1px solid $wine;
                color: $wine;
                font-weight: 600;
            }

            &[class*="crimson"] {
                border: 1px solid $crimson;
                color: $crimson;
                font-weight: 600;
            }

            &[class*="sunrise"] {
                border: 1px solid $sunrise;
                color: $sunrise;
                font-weight: 600;
            }

        }

    }
