<!-- Accordion Group -->
<div data-c-accordion-group>
    <!-- Accordion Component -->
    <div data-c-accordion>
        <button aria-expanded="false" data-c-accordion-trigger tabindex="0" type="button">
            <div data-c-padding="base(all, 1)">
                <!-- Title -->
                <p data-c-font-weight="base(bold)">Accordion Title</p>
                <!-- Optional Subtitle -->
                <p data-c-margin="base(top, .25)" data-c-color="base(c1)">Accordion Subtitle</p>
            </div>
            <span data-c-visibility="base(invisible)">Click to view...</span>
            <i aria-hidden="true" data-c-accordion-add data-c-color="base(c1)" data-c-font-size="base(h3)" data-c-font-weight="base(bold)">+</i>
            <i aria-hidden="true" data-c-accordion-remove data-c-color="base(c1)" data-c-font-size="base(h3)" data-c-font-weight="base(bold)">-</i>
        </button>
        <div aria-hidden="true" data-c-accordion-content data-c-padding="base(rl, 1)">
            <div data-c-padding="base(bottom, 1)">
                <!-- Content -->
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem atque ad quos placeat quidem earum corrupti? Ad, distinctio, maxime quasi illum ex consectetur necessitatibus et soluta quo sit ratione maiores.</p>
            </div>
        </div>
    </div>
</div>