// Clone / Properties / Alignment

[data-clone] {

    // Deprecated Syntax
    [data-c-alignment="center"],
    [data-c-alignment="centre"],
    [data-c-align="center"],
    [data-c-align="centre"] {text-align: center;}
    [data-c-alignment="right"],
    [data-c-align="right"] {text-align: right;}
    [data-c-alignment="left"],
    [data-c-align="left"] {text-align: left;}

    // 3.0 Syntax
    @each $mediaKey, $mediaValue in $clone-media-query-map {
        @media #{$mediaValue} {
            @each $alignmentKey, $alignmentValue in $clone-alignment-map {
                [data-c-alignment*="#{$mediaKey}(#{$alignmentKey})"],
                [data-c-align*="#{$mediaKey}(#{$alignmentKey})"] {
                    text-align: $alignmentValue;
                }
            }
        }
    }

}