<div
    data-c-grid-item="base(1of1) tl(1of2)"
    data-c-input="checkbox"
>
    <label>I want the following superpowers:</label>
    <span>Required</span>
    <div>
        <label for="cA1">
            <input
                id="cA1"
                type="checkbox"
            />
            <span>Flight</span>
        </label>
        <label for="cA2">
            <input
                id="cA2"
                type="checkbox"
            />
            <span>Strength</span>
        </label>
        <label for="cA3">
            <input
                id="cA3"
                type="checkbox"
            />
            <span>Laser Vision</span>
        </label>
        <label for="cA4">
            <input
                id="cA4"
                type="checkbox"
            />
            <span>Invulnerability</span>
        </label>
        <label for="cA5">
            <input
                id="cA5"
                type="checkbox"
            />
            <span>Telekinesis</span>
        </label>
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-c-grid-item="base(1of1) tl(1of2)"
    data-c-input="checkbox"
    data-c-required
    data-c-invalid
>
    <label>I want the following superpowers:</label>
    <span>Required</span>
    <div>
        <label for="cB1">
            <input
                id="cB1"
                type="checkbox"
                required
            />
            <span>Flight</span>
        </label>
        <label for="cB2">
            <input
                id="cB2"
                type="checkbox"
            />
            <span>Strength</span>
        </label>
        <label for="cB3">
            <input
                id="cB3"
                type="checkbox"
            />
            <span>Laser Vision</span>
        </label>
        <label for="cB4">
            <input
                id="cB4"
                type="checkbox"
            />
            <span>Invulnerability</span>
        </label>
        <label for="cB5">
            <input
                id="cB5"
                type="checkbox"
            />
            <span>Telekinesis</span>
        </label>
    </div>
    <span>This input has an error.</span>
</div>
