<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="date"
>
    <label for="DAT1">Today's Date</label>
    <span>Required</span>
    <div>
        <input id="DAT1" type="date" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="date"
    data-clone-required
>
    <label for="DAT2">Today's Date</label>
    <span>Required</span>
    <div>
        <input
            id="DAT2"
            type="date"
            required
        />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="date"
    data-clone-invalid
>
    <label for="DAT3">Today's Date</label>
    <span>Required</span>
    <div>
        <input id="DAT3" type="date" />
    </div>
    <span>This input has an error.</span>
</div>
