<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="select">
    <label for="SEL1">My Preferred Partner</label>
    <span>Required</span>
    <div>
        <i class="material-icons">
            arrow_drop_down
        </i>
        <select id="SEL1">
            <option selected>Select a partner...</option>
            <option>Aquaman</option>
            <option>Atom</option>
            <option>Booster Gold</option>
            <option>The Flash</option>
            <option>Green Lantern</option>
            <option>Hawkgirl</option>
            <option>Martian Manhunter</option>
            <option>Zatanna</option>
        </select>
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="select"
    data-clone-required>
    <label for="SEL2">My Preferred Partner</label>
    <span>Required</span>
    <div>
        <i class="material-icons">
            arrow_drop_down
        </i>
        <select id="SEL2">
            <option disabled selected>Select a partner...</option>
            <option>Aquaman</option>
            <option>Atom</option>
            <option>Booster Gold</option>
            <option>The Flash</option>
            <option>Green Lantern</option>
            <option>Hawkgirl</option>
            <option>Martian Manhunter</option>
            <option>Zatanna</option>
        </select>
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="select"
    data-clone-invalid>
    <label for="SEL3">My Preferred Partner</label>
    <span>Required</span>
    <div>
        <i class="material-icons">
            arrow_drop_down
        </i>
        <select id="SEL3">
            <option selected>Select a partner...</option>
            <option>Aquaman</option>
            <option>Atom</option>
            <option>Booster Gold</option>
            <option>The Flash</option>
            <option>Green Lantern</option>
            <option>Hawkgirl</option>
            <option>Martian Manhunter</option>
            <option>Zatanna</option>
        </select>
    </div>
    <span>This input has an error.</span>
</div>
