<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="email">
    <label for="EM1">My Email</label>
    <span>Required</span>
    <div>
        <input id="EM1" placeholder="e.g. bruce@waynefoundation.com" type="email" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="email">
    <label for="EM2">My Email</label>
    <span>Required</span>
    <div>
        <input id="EM2" placeholder="e.g. bruce@waynefoundation.com" required type="email" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="email"
    data-clone-invalid>
    <label for="EM3">My Email</label>
    <span>Required</span>
    <div>
        <input id="EM3" placeholder="e.g. bruce@waynefoundation.com" type="email" />
    </div>
    <span>This input has an error.</span>
</div>
