<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="number">
    <label># of Sidekicks</label>
    <span>Required</span>
    <div>
        <input placeholder="0" type="number" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="number">
    <label># of Sidekicks</label>
    <span>Required</span>
    <div>
        <input placeholder="0" required type="number" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="number"
    data-clone-invalid>
    <label># of Sidekicks</label>
    <span>Required</span>
    <div>
        <input placeholder="0" type="number" />
    </div>
    <span>This input has an error.</span>
</div>
