<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="number">
    <label for="NUM1"># of Sidekicks</label>
    <span>Required</span>
    <div>
        <input id="NUM1" placeholder="0" type="number" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="number">
    <label for="NUM2"># of Sidekicks</label>
    <span>Required</span>
    <div>
        <input id="NUM2" placeholder="0" required type="number" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="number"
    data-c-invalid>
    <label for="NUM3"># of Sidekicks</label>
    <span>Required</span>
    <div>
        <input id="NUM3" placeholder="0" type="number" />
    </div>
    <span>This input has an error.</span>
</div>
