<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="password">
    <label for="p1">My Password</label>
    <span>Required</span>
    <div>
        <input id="p1" type="password" value="G1assesAreTheBestDisguise" />
        <button type="button">
            <i class="material-icons">
                visibility
            </i>
            <i class="material-icons">
                visibility_off
            </i>
        </button>
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="password"
    data-clone-required>
    <label for="p2">My Password</label>
    <span>Required</span>
    <div>
        <input id="p2" required type="password" value="G1assesAreTheBestDisguise" />
        <button type="button">
            <i class="material-icons">
                visibility
            </i>
            <i class="material-icons">
                visibility_off
            </i>
        </button>
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="password"
    data-clone-invalid>
    <label for="p3">My Password</label>
    <span>Required</span>
    <div>
        <input id="p3" type="password" value="G1assesAreTheBestDisguise" />
        <button type="button">
            <i class="material-icons">
                visibility
            </i>
            <i class="material-icons">
                visibility_off
            </i>
        </button>
    </div>
    <span>This input has an error.</span>
</div>
