<div
    data-clone-grid-item="base(1of1) tl(1of2)"
    data-clone-input="radio">
    <label for="RG1">I want the following hideout:</label>
    <span>Required</span>
    <div id="RG1" role="radiogroup">
        <label for="rA1">
            <input id="rA1" name="radioA" type="radio" />
            <span>Crystal Fortress</span>
        </label>
        <label for="rA2">
            <input id="rA2" name="radioA" type="radio" />
            <span>Secret Cave Lair</span>
        </label>
        <label for="rA3">
            <input id="rA3" name="radioA" type="radio" />
            <span>Orbiting Space Station</span>
        </label>
        <label for="rA4">
            <input id="rA4" name="radioA" type="radio" />
            <span>Public Hall</span>
        </label>
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of2)"
    data-clone-input="radio"
    data-clone-required
    data-clone-invalid>
    <label for="RG2">I want the following hideout:</label>
    <span>Required</span>
    <div id="RG2" role="radiogroup">
        <label for="rB1">
            <input id="rB1" name="radioB" type="radio" />
            <span>Crystal Fortress</span>
        </label>
        <label for="rB2">
            <input id="rB2" name="radioB" type="radio" />
            <span>Secret Cave Lair</span>
        </label>
        <label for="rB3">
            <input id="rB3" name="radioB" type="radio" />
            <span>Orbiting Space Station</span>
        </label>
        <label for="rB4">
            <input id="rB4" name="radioB" type="radio" />
            <span>Public Hall</span>
        </label>
    </div>
    <span>This input has an error.</span>
</div>
