<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="range">
    <label for="RA1">THINGS</label>
    <span>Required</span>
    <div>
        <input id="RA1" type="range" min="0" max="100" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="range">
    <label for="RA2">THINGS</label>
    <span>Required</span>
    <div>
        <input id="RA2" min="0" max="100" step="5" value="10" required type="range" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="range"
    data-c-invalid>
    <label for="RA3">THINGS</label>
    <span>Required</span>
    <div>
        <input id="RA3" type="range" />
    </div>
    <span>This input has an error.</span>
</div>
