<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="text">
    <label>My Name</label>
    <span>Required</span>
    <div>
        <input placeholder="e.g. Clark Kent" type="text" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="text"
    data-clone-required>
    <label>My Name</label>
    <span>Required</span>
    <div>
        <input placeholder="e.g. Clark Kent" type="text" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="text"
    data-clone-invalid>
    <label>My Name</label>
    <span>Required</span>
    <div>
        <input placeholder="e.g. Clark Kent" type="text" />
    </div>
    <span>This input has an error.</span>
</div>
