<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="text">
    <label for="TI1">My Name</label>
    <span>Required</span>
    <div>
        <input id="TI1" placeholder="e.g. Clark Kent" type="text" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="text">
    <label for="TI2">My Name</label>
    <span>Required</span>
    <div>
        <input id="TI2" placeholder="e.g. Clark Kent" required type="text" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="text"
    data-c-invalid>
    <label for="TI3">My Name</label>
    <span>Required</span>
    <div>
        <input id="TI3" placeholder="e.g. Clark Kent" type="text" />
    </div>
    <span>This input has an error.</span>
</div>
