<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="textarea">
    <label>My Story</label>
    <span>Required</span>
    <div>
        <textarea placeholder="e.g. One day Bruce Wayne...">I am Batman.</textarea>
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="textarea">
    <label>My Story</label>
    <span>Required</span>
    <div>
        <textarea required placeholder="e.g. One day Bruce Wayne...">I am Batman.</textarea>
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="textarea"
    data-clone-invalid>
    <label>My Story</label>
    <span>Required</span>
    <div>
        <textarea placeholder="e.g. One day Bruce Wayne...">I am Batman.</textarea>
    </div>
    <span>This input has an error.</span>
</div>
