<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="textarea">
    <label for="TA1">My Story</label>
    <span>Required</span>
    <div>
        <textarea id="TA1" placeholder="e.g. One day Bruce Wayne...">I am Batman.</textarea>
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="textarea">
    <label for="TA2">My Story</label>
    <span>Required</span>
    <div>
        <textarea id="TA2" required placeholder="e.g. One day Bruce Wayne...">I am Batman.</textarea>
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="textarea"
    data-c-invalid>
    <label for="TA3">My Story</label>
    <span>Required</span>
    <div>
        <textarea id="TA3" placeholder="e.g. One day Bruce Wayne...">I am Batman.</textarea>
    </div>
    <span>This input has an error.</span>
</div>
