<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="range">
    <label for="UP1">THINGS</label>
    <span>Required</span>
    <div>
        <input id="UP1" type="file" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="range">
    <label for="UP2">THINGS</label>
    <span>Required</span>
    <div>
        <input id="UP2" required type="file" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="range"
    data-c-invalid>
    <label for="UP3">THINGS</label>
    <span>Required</span>
    <div>
        <input id="UP3" type="file" />
    </div>
    <span>This input has an error.</span>
</div>
