<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="url">
    <label>My Website</label>
    <span>Required</span>
    <div>
        <input placeholder="e.g. http://talent.canada.ca" type="url" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="url">
    <label>My Website</label>
    <span>Required</span>
    <div>
        <input placeholder="e.g. http://talent.canada.ca" required type="url" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="url"
    data-clone-invalid>
    <label>My Website</label>
    <span>Required</span>
    <div>
        <input placeholder="e.g. http://talent.canada.ca" type="url" />
    </div>
    <span>This input has an error.</span>
</div>
