<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="url">
    <label for="URL1">My Website</label>
    <span>Required</span>
    <div>
        <input id="URL1" placeholder="e.g. http://talent.canada.ca" type="url" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="url">
    <label for="URL2">My Website</label>
    <span>Required</span>
    <div>
        <input id="URL2" placeholder="e.g. http://talent.canada.ca" required type="url" />
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-clone-grid-item="base(1of1) tl(1of3)"
    data-clone-input="url"
    data-clone-invalid>
    <label for="URL3">My Website</label>
    <span>Required</span>
    <div>
        <input id="URL3" placeholder="e.g. http://talent.canada.ca" type="url" />
    </div>
    <span>This input has an error.</span>
</div>
