<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="button">
    <label for="WB1">My Name</label>
    <span>Required</span>
    <div data-c-grid>
        <input
            data-c-grid-item="fit"
            id="WB1"
            placeholder="e.g. Clark Kent"
            type="text" />
        <button
            data-c-button="solid(c2)"
            type="button">
            Submit
        </button>
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="button">
    <label for="WB2">My Name</label>
    <span>Required</span>
    <div data-c-grid>
        <input
            data-c-grid-item="fit"
            id="WB2"
            placeholder="e.g. Clark Kent"
            type="text"
            required/>
        <button
            data-c-button="solid(c2)"
            type="button">
            Submit
        </button>
    </div>
    <span>This input has an error.</span>
</div>

<div
    data-c-grid-item="base(1of1) tl(1of3)"
    data-c-input="button"
    data-c-invalid>
    <label for="WB3">My Name</label>
    <span>Required</span>
    <div data-c-grid>
        <input
            data-c-grid-item="fit"
            id="WB3"
            placeholder="e.g. Clark Kent"
            type="text" />
        <button
            data-c-button="solid(c2)"
            type="button">
            Submit
        </button>
    </div>
    <span>This input has an error.</span>
</div>
