/* =============================================================================

    PALETTE CSS
    Authored by Josh Beveridge and Justin Bellefontaine

============================================================================= */

/* Gr(e/a)yscale ============================================================ */

/* Black */
$black: rgba(0, 0, 0, 1);

/* Gr(e/a)yscale */
$grey-10: hsla(0, 0%, 10%, 1);
$grey-20: hsla(0, 0%, 20%, 1);
$grey-30: hsla(0, 0%, 30%, 1);
$grey-40: hsla(0, 0%, 40%, 1);
$grey-50: hsla(0, 0%, 50%, 1);
$grey-60: hsla(0, 0%, 60%, 1);
$grey-70: hsla(0, 0%, 70%, 1);
$grey-80: hsla(0, 0%, 80%, 1);
$grey-90: hsla(0, 0%, 90%, 1);

$gray-10: hsla(0, 0%, 10%, 1);
$gray-20: hsla(0, 0%, 20%, 1);
$gray-30: hsla(0, 0%, 30%, 1);
$gray-40: hsla(0, 0%, 40%, 1);
$gray-50: hsla(0, 0%, 50%, 1);
$gray-60: hsla(0, 0%, 60%, 1);
$gray-70: hsla(0, 0%, 70%, 1);
$gray-80: hsla(0, 0%, 80%, 1);
$gray-90: hsla(0, 0%, 90%, 1);

/* White */
$white: rgba(255, 255, 255, 1);

/* Custom Colours =========================================================== */
$red: rgba(255, 0, 0, 1);

/* Social Colours =========================================================== */
$gplus-brand: hsl(7, 71%, 55%);
$twitter-brand: hsl(206, 82%, 63%);
$linkedin-brand: hsl(202, 90%, 37%);
$facebook-brand: hsl(221, 44%, 41%);
