/* =============================================================================

    PALETTE CSS

    Authored by:
        - Josh Beveridge
        - Justin Bellefontaine

============================================================================= */

/* Custom Colours =========================================================== */

/* Social Colours =========================================================== */
$gplus-brand: hsl(7, 71%, 55%);
$twitter-brand: hsl(206, 82%, 63%);
$linkedin-brand: hsl(202, 90%, 37%);
$facebook-brand: hsl(221, 44%, 41%);
