/* =============================================================================

    TYPOGRAPHY CSS

    Authored by:
        - Josh Beveridge
        - Justin Bellefontaine

============================================================================= */

/* Google Fonts ============================================================= */

/* Typekit Fonts ============================================================ */

/* Custom Fonts ============================================================= */

/* Font Standard ============================================================ */
html,
body {
    font-size: 100%;
}

/* 1.414 Scale */

$font-scale: 1.414;

$font-scale-h1: calc(1rem*($font-scale*($font-scale*($font-scale*($font-scale)))));
$font-scale-h2: calc(1rem*($font-scale*($font-scale*($font-scale))));
$font-scale-h3: calc(1rem*($font-scale*($font-scale)));
$font-scale-h4: calc(1rem*($font-scale));
$font-scale-regular: 1rem;
$font-scale-small: calc(1rem*($font-scale/2));

/* Sitewide Typography ====================================================== */
::selection {
    background: $black;
    color: $white;
}

[class*="heading--"] {

}

.heading--01 {
    font-size: $font-scale-h1;
}

.heading--02 {
    font-size: $font-scale-h2;
}

.heading--03 {
    font-size: $font-scale-h3;
}

.heading--04 {
    font-size: $font-scale-h4;
}

.heading--05 {
    font-size: $font-scale-regular;
}

/* Buttons ================================================================== */
[class*="button--"] {
    appearance: none;
    border: none;
    box-shadow: none;
    outline: none;
}

.no-touchevents {

    [class*="button--"]:hover {

    }

}

[class*="button--"][class*="--small"] {

}
