/* =============================================================================

    TYPOGRAPHY CSS

    Authored by:
        - Josh Beveridge
        - Justin Bellefontaine

============================================================================= */

/* Google Fonts ============================================================= */

/* Typekit Fonts ============================================================ */

/* Custom Fonts ============================================================= */

/* Font Standard ============================================================ */
html,
body {
    font-size: 100%;
}

/* 1.414 Scale */
$font-scale-h1: calc(1rem*3.998);
$font-scale-h2: calc(1rem*2.827);
$font-scale-h3: calc(1rem*1.999);
$font-scale-h4: calc(1rem*1.414);
$font-scale-regular: 1rem;
$font-scale-small: calc(1rem*0.707);

/* Sitewide Typography ====================================================== */
::selection {
    background: $black;
    color: $white;
}

[class*="heading--"] {

}

.heading--01 {

}

.heading--02 {

}

.heading--03 {

}

.heading--04 {

}

.heading--05 {

}

/* Buttons ================================================================== */
[class*="button--"] {
    appearance: none;
    border: none;
    box-shadow: none;
    outline: none;
}

.no-touchevents {

    [class*="button--"]:hover {

    }

}

[class*="button--"][class*="--small"] {

}
