// Clone: Container Property

// Deprecated Syntax
[data-c-container="full"] {
    margin: 0 auto;
    width: 90%;
}

    // Large Containers
    [data-c-container="layout"],
    [data-c-container="large"],
    [data-c-container="large(center)"] {
        margin: 0 auto;
        max-width: $clone-large-layout;
        width: 90%;
    }
    [data-c-container="large(left)"] {
        margin: 0 auto auto 0;
        max-width: $clone-large-layout;
        width: 90%;
    }
    [data-c-container="large(right)"] {
        margin: 0 0 auto auto;
        max-width: $clone-large-layout;
        width: 90%;
    }

    // Medium Containers
    [data-c-container="form"],
    [data-c-container="medium"],
    [data-c-container="medium(center)"] {
        margin: 0 auto;
        max-width: $clone-medium-layout;
        width: 90%;
    }
    [data-c-container="medium(left)"] {
        margin: 0 auto auto 0;
        max-width: $clone-medium-layout;
        width: 90%;
    }
    [data-c-container="medium(right)"] {
        margin: 0 0 auto auto;
        max-width: $clone-medium-layout;
        width: 90%;
    }

    // Small Containers
    [data-c-container="copy"],
    [data-c-container="small"],
    [data-c-container="small(center)"] {
        margin: 0 auto;
        max-width: $clone-small-layout;
        width: 90%;
    }
    [data-c-container="small(left)"] {
        margin: 0 auto auto 0;
        max-width: $clone-small-layout;
        width: 90%;
    }
    [data-c-container="small(right)"] {
        margin: 0 0 auto auto;
        max-width: $clone-small-layout;
        width: 90%;
    }

// 3.0 Syntax
[data-c-container*="pp"],
[data-c-container*="pl"],
[data-c-container*="tl"],
[data-c-container*="tp"],
[data-c-container*="ds"],
[data-c-container*="dm"],
[data-c-container*="dl"] {
    margin: 0 auto;
    width: 90%;
}
@each $mediaKey, $mediaValue in $clone-media-query-map {
    @media #{$mediaValue} {
        @each $sizeKey, $sizeValue in $clone-container-size-map {
            @each $alignmentKey, $alignmentValue in $clone-alignment-value-map {
                [data-c-container*="#{$mediaKey}(#{$sizeKey}, #{$alignmentKey})"] {
                    margin: $alignmentValue;
                    max-width: $sizeValue;
                }
            }
        }
    }
}