// Clone: Display Property

// Deprecated Syntax
[data-c-display="block"] {
    display: block;
}
[data-c-display="inline"] {
    display: inline;
}
[data-c-display="inline-block"] {
    display: inline-block;
}
[data-c-display="table"] {
    display: table;
}
[data-c-display="grid"] {
    display: grid;
}
[data-c-display="flex"] {
    display: flex;
}
[data-c-display="none"] {
    display: none;
}

// 3.0 Syntax
@each $mediaKey, $mediaValue in $clone-media-query-map {
    @media #{$mediaValue} {
        @each $display in $clone-display-list {
            [data-c-display*="#{$mediaKey}(#{$display})"] {
                display: $display;
            }
        }
    }
}