// Clone: Overlay Property

// Deprecated Syntax
@each $key, $value in $clone-color-map {
    @each $alpha in $clone-opacity-list {
        $newValue: unquote($key)+"("+$alpha+")";
        [data-c-overlay="#{$newValue}"] {
            background-position: center center;
            background-size: cover;
            position: relative;
            &::before {
                $decimal: $alpha / 100;
                background: rgba($value, $decimal);
                content: " ";
                display: block;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
            * {
                position: relative;
            }
        }
    }
};

// 3.0 Syntax
@each $mediaKey, $mediaValue in $clone-media-query-map {
    @media #{$mediaValue} {
        @each $colorKey, $colorValue in $clone-color-map {
            @each $alpha in $clone-opacity-list {
                $newValue: unquote($colorKey)+", "+$alpha;
                [data-c-overlay="#{$mediaKey}(#{$newValue})"] {
                    background-position: center center;
                    background-size: cover;
                    position: relative;
                    &::before {
                        $decimal: $alpha / 100;
                        background: rgba($colorValue, $decimal);
                        content: " ";
                        display: block;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                    }
                    * {
                        position: relative;
                    }
                }
            }
        }
    }
}