// Clone: Visibility Property

// Deprecated Syntax
[data-c-visibility="invisible"] {
    height: 1px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -100vw;
    width: 1px;
}
[data-c-visibility="hidden"] {
    display: none;
    visibility: hidden;
}

// 3.0 Syntax
@each $mediaKey, $mediaValue in $clone-media-query-map {
    @media #{$mediaValue} {
        [data-c-visibility*="#{$mediaKey}(invisible)"]{
            height: 1px;
            overflow: hidden;
            position: absolute;
            top: 0;
            left: -100vw;
            width: 1px;
        }
        [data-c-visibility*="#{$mediaKey}(hidden)"] {
            display: none;
            visibility: hidden;
        }
    }
}