// Clone / Properties / Background Colors

[data-clone] {

    // Deprecated Syntax
    @each $key, $value in $clone-color-map {
        @each $alpha in $clone-opacity-list {
            $newValue: unquote($key)+"("+$alpha+")";
            [data-c-background="#{$newValue}"] {
                $decimal: $alpha / 100;
                background: rgba($value, $decimal);
                a:hover {
                    color: contrasting-color($value, lighten($clone-hover-color, 10%), darken($clone-hover-color, 10%)) !important;
                }
            }
        }
    };

    // 3.0 Syntax
    @each $mediaKey, $mediaValue in $clone-media-query-map {
        @media #{$mediaValue} {
            @each $colorKey, $colorValue in $clone-color-map {
                @each $alpha in $clone-opacity-list {
                    $newValue: unquote($colorKey)+", "+$alpha;
                    $decimal: $alpha / 100;
                    [data-c-background-color*="#{$mediaKey}(#{$newValue})"] {
                        background: rgba($colorValue, $decimal);
                        a:hover {
                            color: contrasting-color($colorValue, lighten($clone-hover-color, 10%), darken($clone-hover-color, 10%)) !important;
                        }
                    }
                }
            };
        }
    }

}