<!DOCTYPE html>

<html
    lang="en">

    <head>

        <title>Clone: Framework</title>

        <meta
            charset="utf-8" />

        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge">

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0">

        <link
            href="https://fonts.googleapis.com/css?family=Euphoria+Script|Open+Sans:400,400i,600,600i,800,800i&amp;subset=latin-ext"
            rel="stylesheet">

        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

        <link async rel="stylesheet" href="css/clone.css">

        <link async rel="stylesheet" href="css/clone-gridless.css">

    </head>

    <body data-clone data-c-menu-style="topbar left">

        {# {% include "tests/menu.twig" %} #}

        <div
            data-c-container="copy"
            data-c-padding="top(4) bottom(4)"
            data-c-alignment="centre"
            data-c-colour="black">
            <p>Looking for documentation? Check out <a href="https://designwithclone.ca">Clone's Docs</a> for more information.</p>
        </div>

        <div data-c-border="top(thin, solid, gray)" data-c-padding="tb(4)">
            <div data-c-container="medium">
                {# {% include "tests/accordion.twig" %} #}
                {# {% include "tests/dialog.twig" %} #}
                {# {% include "components/input/text.twig" %} #}
                {# {% include "components/input/password.twig" %} #}
                {# {% include "components/breadcrumb.twig" %} #}
                {# {% include "components/input/telephone.twig" %} #}
                {# {% include "tests/grid.twig" %} #}
                {# {% include "tests/forms.twig" %} #}
                {# {% include "tests/carousel.twig" %} #}
                {# {% include "tests/headings.twig" %} #}
                {# {% include "tests/buttons.twig" %} #}
            </div>
        </div>

        <script src="js/clone.js"></script>

    </body>  

</html>
