<!DOCTYPE html>

<html
    lang="en">

    <head>

        <title>Clone: Framework</title>

        <meta
            charset="utf-8" />

        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge">

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0">

        <link
            href="https://fonts.googleapis.com/css?family=Euphoria+Script|Open+Sans:400,400i,600,600i,800,800i&amp;subset=latin-ext"
            rel="stylesheet">

        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

        <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

        <!-- <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/styles/atom-one-dark.min.css">
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/highlight.min.js"></script> -->

        <!--build:css css/clone.min.css-->
        <link async rel="stylesheet" href="css/clone.css">
        <!--endbuild-->

        <!--build:css css/clone-gridless.min.css-->
        <link async rel="stylesheet" href="css/clone-gridless.css">
        <!--endbuild-->

        <!-- <script>hljs.initHighlightingOnLoad();</script> -->

    </head>

    <body data-clone>

        <div
            data-c-container="copy"
            data-c-padding="top(triple) bottom(triple)"
            data-c-alignment="centre"
            data-c-colour="black">
            <p>Looking for documentation? Check out <a href="https://designwithclone.ca">Clone's Docs</a> for more information.</p>
        </div>

        <!--build:js js/clone.min.js-->
        <script src="js/clone.js"></script>
        <!--endbuild-->

    </body>  

</html>
