<!DOCTYPE html>

<html
    lang="en">

    <head>

        <title>Clone</title>

        <meta
            charset="utf-8" />

        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge">

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0">

        <link
            href="https://fonts.googleapis.com/css?family=Euphoria+Script|Open+Sans:400,400i,600,600i,800,800i&amp;subset=latin-ext"
            rel="stylesheet">

        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

        <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/styles/atom-one-dark.min.css">
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/highlight.min.js"></script>

        <!--build:css css/system.min.css-->
        <link rel="stylesheet" href="css/clone.css">
        <!--endbuild-->

        <script>hljs.initHighlightingOnLoad();</script>

    </head>

    <body>

        <a id="pageTop"></a>

        <div class="container--layout padding-top--double padding-bottom--double">

            <a id="content"></a>

            <!-- Accordions ================================================ -->
            <div class="padding-bottom--double">

                <h3 class="heading--03 margin-bottom">Accordions</h3>

                {% include "components/accordion.html" %}
                {% include "components/accordion.html" %}
                {% include "components/accordion.html" %}

            </div>

            <!-- Alerts ==================================================== -->
            <div class="padding-bottom--double">

                <h3 class="heading--03 margin-bottom">Alerts</h3>

                <div class="margin-bottom">
                    {% include "components/alert-information.html" %}
                </div>

                <div class="margin-bottom">
                    {% include "components/alert-warning.html" %}
                </div>

                <div>
                    {% include "components/alert-error.html" %}
                </div>

            </div>

            <!-- Back-to-Top Links ========================================= -->
            <div class="padding-bottom--double">
                <h3 class="heading--03 margin-bottom">Back-to-top Links</h3>
                {% include "components/back-to-top-link.html" %}
            </div>

            <!-- Blockquotes =============================================== -->
            <div class="padding-bottom--double">
                <h3 class="heading--03 margin-bottom">Blockquotes</h3>
                {% include "components/blockquote.html" %}
            </div>

            <!-- Breadcrumbs =============================================== -->
            <div class="padding-bottom--double">
                <h3 class="heading--03 margin-bottom">Breadcrumbs</h3>
                {% include "components/breadcrumbs.html" %}
            </div>

            <!-- Buttons =================================================== -->
            <div class="padding-bottom--double">

                <h3 class="heading--03 margin-bottom">Buttons</h3>

                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Variations</h4>

                <div class="padding-bottom">

                        <div class="flex-grid gutter middle">

                            <div class="box pt-1of2 lt-1of3 ds-1of5">
                                <button
                                    class="button--c1 solid rounded"
                                    type="button">
                                    Button
                                </button>
                            </div>

                            <div class="box pt-1of2 lt-1of3 ds-1of5">
                                <a
                                    class="button--c1 solid rounded"
                                    href="http://google.com/"
                                    title="Check out Google!">
                                    Hyperlink
                                </a>
                            </div>

                            <div class="box pt-1of2 lt-1of3 ds-1of5">
                                <button
                                    class="button--c1 solid square"
                                    type="button">
                                    Square
                                </button>
                            </div>

                            <div class="box pt-1of2 lt-1of3 ds-1of5">
                                <button
                                    class="button--c1 solid rounded"
                                    type="button">
                                    Rounded
                                </button>
                            </div>

                            <div class="box pt-1of2 lt-1of3 ds-1of5">
                                <button
                                    class="button--c1 solid pill"
                                    type="button">
                                    Pill
                                </button>
                            </div>

                        </div>

                </div>

                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Solid</h4>

                <div class="padding-bottom">

                    {# {% include "components/carousel.html" %} #}

                    <div class="flex-grid gutter middle">

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--c1 solid rounded"
                                type="button">
                                Theme Colour 01
                            </button>
                        </div>

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--c2 solid rounded"
                                type="button">
                                Theme Colour 02
                            </button>
                        </div>

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--c3 solid rounded"
                                type="button">
                                Theme Colour 03
                            </button>
                        </div>

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--c4 solid rounded"
                                type="button">
                                Theme Colour 04
                            </button>
                        </div>

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--c5 solid rounded"
                                type="button">
                                Theme Colour 05
                            </button>
                        </div>

                    </div>

                </div>

                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Outline</h4>

                <div class="padding-bottom">

                    {# {% include "components/carousel.html" %} #}

                    <div class="flex-grid gutter middle">

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--c1 outline rounded"
                                type="button">
                                Theme Colour 01
                            </button>
                        </div>

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--c2 outline rounded"
                                type="button">
                                Theme Colour 02
                            </button>
                        </div>

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--c3 outline rounded"
                                type="button">
                                Theme Colour 03
                            </button>
                        </div>

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--c4 outline rounded"
                                type="button">
                                Theme Colour 04
                            </button>
                        </div>

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--c5 outline rounded"
                                type="button">
                                Theme Colour 05
                            </button>
                        </div>

                    </div>

                </div>

                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Stoplight</h4>

                <div class="padding-bottom">

                    {# {% include "components/carousel.html" %} #}

                    <div class="flex-grid gutter middle">

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--go solid rounded"
                                type="button">
                                Next Step
                            </button>
                        </div>

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--slow solid rounded"
                                type="button">
                                Be Careful
                            </button>
                        </div>

                        <div class="box pt-1of2 lt-1of3 ds-3of5">
                            <button
                                class="button--stop solid rounded"
                                type="button">
                                Delete Item
                            </button>
                        </div>

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--go outline rounded"
                                type="button">
                                Next Step
                            </button>
                        </div>

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--slow outline rounded"
                                type="button">
                                Be Careful
                            </button>
                        </div>

                        <div class="box pt-1of2 lt-1of3 ds-3of5">
                            <button
                                class="button--stop outline rounded"
                                type="button">
                                Delete Item
                            </button>
                        </div>

                    </div>

                </div>

                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Disabled</h4>

                <div class="padding-bottom">

                    {# {% include "components/carousel.html" %} #}

                    <div class="flex-grid gutter middle">

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--c1 solid rounded"
                                disabled
                                type="button">
                                Disabled
                            </button>
                        </div>

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--c1 outline rounded"
                                disabled
                                type="button">
                                Disabled
                            </button>
                        </div>

                    </div>

                </div>

                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Icons</h4>

                <div class="padding-bottom">

                    {# {% include "components/carousel.html" %} #}

                    <div class="flex-grid gutter middle padding-bottom--half">

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--c1 solid rounded"
                                type="button">
                                <i class="material-icons">
                                    delete_forever
                                </i>
                                Trash
                            </button>
                        </div>

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--c1 solid rounded"
                                type="button">
                                <i class="material-icons">
                                    perm_contact_calendar
                                </i>
                                Contact Us
                            </button>
                        </div>

                    </div>

                    <div class="flex-grid gutter middle">

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--c1 outline rounded"
                                type="button">
                                <i class="material-icons">
                                    delete_forever
                                </i>
                                Trash
                            </button>
                        </div>

                        <div class="box pt-1of2 lt-1of3 ds-1of5">
                            <button
                                class="button--c1 outline rounded"
                                type="button">
                                <i class="material-icons">
                                    perm_contact_calendar
                                </i>
                                Contact Us
                            </button>
                        </div>

                    </div>

                </div>

            </div>

            <!-- Cards ===================================================== -->

            <!-- Carousels ================================================= -->
            <div class="padding-bottom--double">

                <h3 class="heading--03 margin-bottom">Carousels</h3>

                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Image Carousel</h4>
                <div class="padding-bottom">
                    {% include "components/carousel-image.html" %}
                </div>

                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Content Carousel</h4>
                <div class="">
                    {% include "components/carousel-content.html" %}
                </div>

            </div>

            <!-- Dialogues ================================================= -->
            <div class="padding-bottom--double">
                <h3 class="heading--03 margin-bottom">Dialogues</h3>
                {% include "components/dialogue.html" %}
            </div>

            <!-- iframes =================================================== -->
            <div class="padding-bottom--double">

                <h3 class="heading--03 margin-bottom">iframes</h3>

                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Videos</h4>
                <div class="padding-bottom">
                    {% include "components/iframe-video.html" %}
                </div>

                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Maps</h4>
                <div class="">
                    {% include "components/iframe-map.html" %}
                </div>

            </div>

            <!-- Inputs ==================================================== -->
            <div class="padding-bottom--double">

                <h3 class="heading--03 margin-bottom">Inputs</h3>

                <!-- Checkboxes -------------------------------------------- -->
                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Checkboxes</h4>
                <form class="padding-bottom flex-grid gutter">

                    <div class="box b-full tl-1of2 input">

                        <label>I want the following superpowers:</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <div class="checkbox-group">

                                <label for="c1">

                                    <input id="c1" type="checkbox" />

                                    <span>Flight</span>

                                </label>

                                <label for="c2">

                                    <input id="c2" type="checkbox" />

                                    <span>Strength</span>

                                </label>

                                <label for="c3">

                                    <input id="c3" type="checkbox" />

                                    <span>Laser Vision</span>

                                </label>

                                <label for="c4">

                                    <input id="c4" type="checkbox" />

                                    <span>Invulnerability</span>

                                </label>

                                <label for="c5">

                                    <input id="c5" type="checkbox" />

                                    <span>Telekinesis</span>

                                </label>

                            </div>

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                    <div class="box b-full tl-1of2 input required">

                        <label>I want the following superpowers:</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <div class="checkbox-group">

                                <label for="c1">

                                    <input id="c1" type="checkbox" required/>

                                    <span>Flight</span>

                                </label>

                                <label for="c2">

                                    <input id="c2" type="checkbox" />

                                    <span>Strength</span>

                                </label>

                                <label for="c3">

                                    <input id="c3" type="checkbox" />

                                    <span>Laser Vision</span>

                                </label>

                                <label for="c4">

                                    <input id="c4" type="checkbox" />

                                    <span>Invulnerability</span>

                                </label>

                                <label for="c5">

                                    <input id="c5" type="checkbox" />

                                    <span>Telekinesis</span>

                                </label>

                            </div>

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                </form>

                <!-- Dates ------------------------------------------------- -->
                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Dates</h4>
                <form class="padding-bottom flex-grid gutter">

                    <div class="box b-full tl-1of3 input">

                        <label>Today's Date</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <input type="date" />

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                    <div class="box b-full tl-1of3 input required">

                        <label>Today's Date</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <input type="date" />

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                    <div class="box b-full tl-1of3 input invalid">

                        <label>Today's Date</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <input type="date" />

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                </form>

                <!-- Dropdowns --------------------------------------------- -->
                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Dropdowns (Select Elements)</h4>
                <form class="padding-bottom flex-grid gutter">

                    <div class="box b-full tl-1of3 input">

                        <label>My Preferred Partner</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <div class="select">

                                <i class="material-icons">
                                    arrow_drop_down
                                </i>

                                <select>

                                    <option selected>Select a partner...</option>
                                    <option>Aquaman</option>
                                    <option>Atom</option>
                                    <option>Booster Gold</option>
                                    <option>The Flash</option>
                                    <option>Green Lantern</option>
                                    <option>Hawkgirl</option>
                                    <option>Martian Manhunter</option>
                                    <option>Zatanna</option>

                                </select>

                            </div>

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                    <div class="box b-full tl-1of3 input required">

                        <label>My Preferred Partner</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <div class="select">

                                <i class="material-icons">
                                    arrow_drop_down
                                </i>

                                <select>

                                    <option disabled selected>Select a partner...</option>
                                    <option>Aquaman</option>
                                    <option>Atom</option>
                                    <option>Booster Gold</option>
                                    <option>The Flash</option>
                                    <option>Green Lantern</option>
                                    <option>Hawkgirl</option>
                                    <option>Martian Manhunter</option>
                                    <option>Zatanna</option>

                                </select>

                            </div>

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                    <div class="box b-full tl-1of3 input required invalid">

                        <label>My Preferred Partner</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <div class="select">

                                <i class="material-icons">
                                    arrow_drop_down
                                </i>

                                <select>

                                    <option disabled selected>Select a partner...</option>
                                    <option>Aquaman</option>
                                    <option>Atom</option>
                                    <option>Booster Gold</option>
                                    <option>The Flash</option>
                                    <option>Green Lantern</option>
                                    <option>Hawkgirl</option>
                                    <option>Martian Manhunter</option>
                                    <option>Zatanna</option>

                                </select>

                            </div>

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                </form>

                <!-- Numbers ----------------------------------------------- -->
                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Numbers</h4>
                <form class="padding-bottom flex-grid gutter">

                    <div class="box b-full tl-1of3 input">

                        <label># of Sidekicks</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <input placeholder="0" required type="number" />

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                    <div class="box b-full tl-1of3 input required">

                        <label># of Sidekicks</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <input placeholder="0" required type="number" />

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                    <div class="box b-full tl-1of3 input invalid">

                        <label># of Sidekicks</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <input placeholder="0" required type="number" />

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                </form>

                <!-- Passwords --------------------------------------------- -->
                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Passwords</h4>
                <form class="padding-bottom flex-grid gutter">

                    <div class="box b-full tl-1of3 input">

                        <label>My Password</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <div class="password">

                                <input id="" required type="password" value="G1assesAreTheBestDisguise" />

                                <button type="button">
                                    <i class="material-icons view-toggle">
                                        visibility
                                    </i>
                                    <i class="material-icons hide-toggle">
                                        visibility_off
                                    </i>
                                </button>

                            </div>

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                    <div class="box b-full tl-1of3 input required">

                        <label>My Password</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <div class="password visible">

                                <input id="" required type="text" value="G1assesAreTheBestDisguise" />

                                <button type="button">
                                    <i class="material-icons view-toggle">
                                        visibility
                                    </i>
                                    <i class="material-icons hide-toggle">
                                        visibility_off
                                    </i>
                                </button>

                            </div>

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                    <div class="box b-full tl-1of3 input invalid">

                        <label>My Password</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <div class="password">

                                <input id="" required type="password" value="" />

                                <button type="button">
                                    <i class="material-icons view-toggle">
                                        visibility
                                    </i>
                                    <i class="material-icons hide-toggle">
                                        visibility_off
                                    </i>
                                </button>

                            </div>

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                </form>

                <!-- Radio Inputs ------------------------------------------ -->
                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Radio Inputs</h4>
                <form class="padding-bottom flex-grid gutter">

                        <div class="box b-full tl-1of2 input">

                            <label>I want the following hideout:</label>

                            <span class="required-label">Required</span>

                            <div class="input-wrapper">

                                <div
                                    class="radio-group"
                                    role="radiogroup">

                                    <label for="rA1">

                                        <input id="rA1" name="radioA" type="radio" />

                                        <span>Arctic Crstal Fortress</span>

                                    </label>

                                    <label for="rA2">

                                        <input id="rA2" name="radioA" type="radio" />

                                        <span>Secret Cave Lair</span>

                                    </label>

                                    <label for="rA3">

                                        <input id="rA3" name="radioA" type="radio" />

                                        <span>Orbiting Space Station</span>

                                    </label>

                                    <label for="rA4">

                                        <input id="rA4" name="radioA" type="radio" />

                                        <span>Public Hall</span>

                                    </label>

                                </div>

                                <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                            </div>

                        </div>

                        <div class="box b-full tl-1of2 input required">

                            <label>I want the following superpowers:</label>

                            <span class="required-label">Required</span>

                            <div class="input-wrapper">

                                <div
                                    class="radio-group"
                                    role="radiogroup">

                                    <label for="rB1">

                                        <input id="rB1" name="radioB" type="radio" required/>

                                        <span>Arctic Crstal Fortress</span>

                                    </label>

                                    <label for="rB2">

                                        <input id="rB2" name="radioB" type="radio" />

                                        <span>Secret Cave Lair</span>

                                    </label>

                                    <label for="rB3">

                                        <input id="rB3" name="radioB" type="radio" />

                                        <span>Orbiting Space Station</span>

                                    </label>

                                    <label for="rB4">

                                        <input id="rB4" name="radioB" type="radio" />

                                        <span>Public Hall</span>

                                    </label>

                                </div>

                                <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                            </div>

                        </div>

                </form>

                <!-- Text -------------------------------------------------- -->
                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Text</h4>
                <form class="padding-bottom flex-grid gutter">

                    <div class="box b-full tl-1of3 input">

                        <label>My Name</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <input placeholder="e.g. Clark Kent" required type="text" />

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                    <div class="box b-full tl-1of3 input required">

                        <label>My Name</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <input placeholder="e.g. Diana Prince" required type="text" />

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                    <div class="box b-full tl-1of3 input invalid">

                        <label>My Name</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <input placeholder="e.g. Barry Allen" required type="text" />

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                </form>

                <!-- Input w Button ---------------------------------------- -->
                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Text w/ Button</h4>
                <form class="padding-bottom flex-grid gutter">

                    <div class="box b-full input">

                        <label>My Name</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <div class="input-with-button flex-grid middle">

                                <div class="box fit">

                                    <input placeholder="e.g. Clark Kent" required type="text" />

                                </div>

                                <button
                                    class="input-button button--c2 solid"
                                    type="button">
                                    Submit
                                </button>

                            </div>

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                </form>

                <!-- Textareas --------------------------------------------- -->
                <h4 class="heading--04 font-colour-c2 margin-bottom--half">Textareas</h4>
                <form class="padding-bottom flex-grid gutter">

                    <div class="box b-full tl-1of3 input">

                        <label>My Story</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <textarea placeholder="e.g. One day Bruce Wayne..." required>I am Batman.</textarea>

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                    <div class="box b-full tl-1of3 input required">

                        <label>My Story</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <textarea placeholder="e.g. One day Bruce Wayne..." required>I am Batman.</textarea>

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                    <div class="box b-full tl-1of3 input invalid">

                        <label>My Story</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <textarea placeholder="e.g. One day Bruce Wayne..." required></textarea>

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                </form>

                <!-- URLs -------------------------------------------------- -->
                <h4 class="heading--04 font-colour-c2 margin-bottom--half">URLs</h4>
                <form class="flex-grid gutter">

                    <div class="box b-full tl-1of3 input">

                        <label>My Website</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <input placeholder="e.g. http://talent.canada.ca" required type="url" />

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                    <div class="box b-full tl-1of3 input required">

                        <label>My Website</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <input placeholder="e.g. http://talent.canada.ca" required type="url" />

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                    <div class="box b-full tl-1of3 input invalid">

                        <label>My Website</label>

                        <span class="required-label">Required</span>

                        <div class="input-wrapper">

                            <input placeholder="e.g. http://talent.canada.ca" required type="url" />

                            <span class="error-copy">This input has an error or is formatted incorrectly.</span>

                        </div>

                    </div>

                </form>

            </div>

            <!-- Navigation ================================================ -->
            <!--<div class="padding-bottom--double">

                <h3 class="heading--03 margin-bottom">Navigation</h3>

                <button
                    class="button--c1 solid"
                    data-mobile-navigation-trigger
                    type="button">
                    Mobile Navigation
                </button>

                <div class="navigation--top simple background-c2">
                    <ul>
                        <li><a href="" title="">Menu Item 01</a></li>
                        <li>
                            <a href="" title="">Menu Item 02</a>
                            <div class="subnavigation">
                                <ul>
                                    <li><a href="" title="">Submenu Item 01</a></li>
                                    <li><a href="" title="">Submenu Item 02</a></li>
                                    <li><a href="" title="">Submenu Item 03</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="" title="">Menu Item 03</a></li>
                        <li><a href="" title="">Menu Item 04</a></li>
                        <li><a href="" title="">Menu Item 05</a></li>
                    </ul>
                </div>

                <div class="navigation--top mega">

                </div>

                <div class="navigation--side">

                </div>

            </div>-->

            <!-- Pullquotes ================================================ -->
            <div class="padding-bottom--double">
                <h3 class="heading--03 margin-bottom">Pullquotes</h3>
                {% include "components/pullquote.html" %}
            </div>

            <!-- Skip-to-content Links ------------------------------------- -->
            <div class="">
                <h3 class="heading--03 margin-bottom">Skip-to-content Links</h3>
                <p class="margin-bottom">Tab to this spot to view the link.</p>
                {% include "components/skip-to-content.html" %}
            </div>

            <!-- Tags ====================================================== -->
            <!--<div class="">
                <h3 class="heading--03 margin-bottom">Tags</h3>
            </div>-->

        </div>

        <!--build:js js/app.min.js-->
        <script src="js/slick.min.js"></script>
        <!--endbuild-->

        <!--build:js js/app.min.js-->
        <script src="js/clone.js"></script>
        <!--endbuild-->

    </body>

</html>
