<!DOCTYPE html>

<html
    lang="en">

    <head>

        <title>Clone</title>

        <meta
            charset="utf-8" />

        <meta
            http-equiv="X-UA-Compatible"
            content="IE=edge">

        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0">

        <link
            href="https://fonts.googleapis.com/css?family=Euphoria+Script|Open+Sans:400,400i,600,600i,800,800i&amp;subset=latin-ext"
            rel="stylesheet">

        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet">

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

        <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

        <!-- <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/styles/atom-one-dark.min.css">
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.13.1/build/highlight.min.js"></script> -->

        <!--build:css css/clone.min.css-->
        <link async rel="stylesheet" href="css/clone.css">
        <!--endbuild-->

        <!-- <script>hljs.initHighlightingOnLoad();</script> -->

    </head>

    <body data-clone>

        <a id="pageTop"></a>

        <div
            data-c-container="layout"
            data-c-padding="top(double) bottom(double)">

            <a id="content"></a>

            <!-- Accordions ================================================ -->
            <div data-c-padding="bottom(double)">

                <h3
                    data-c-font-size="h3"
                    data-c-margin="bottom">
                    Accordions
                </h3>

                {% include "components/accordion.html" %}
                {% include "components/accordion.html" %}
                {% include "components/accordion.html" %}

            </div>

            <!-- Alerts ==================================================== -->
            <div data-c-padding="bottom(double)">

                <h3
                    data-c-font-size="h3"
                    data-c-margin="bottom">
                    Alerts
                </h3>

                <div data-c-margin="bottom">
                    {% include "components/alert-information.html" %}
                </div>

                <div data-c-margin="bottom">
                    {% include "components/alert-warning.html" %}
                </div>

                <div>
                    {% include "components/alert-error.html" %}
                </div>

            </div>

            <!-- Back-to-Top Links ========================================= -->
            <div data-c-padding="bottom(double)">
                <h3
                    data-c-font-size="h3"
                    data-c-margin="bottom">
                    Back-to-top Links
                </h3>
                {% include "components/back-to-top-link.html" %}
            </div>

            <!-- Blockquotes =============================================== -->
            <div data-c-padding="bottom(double)">
                <h3
                    data-c-font-size="h3"
                    data-c-margin="bottom">
                    Blockquotes
                </h3>
                {% include "components/blockquote.html" %}
            </div>

            <!-- Breadcrumbs =============================================== -->
            <div data-c-padding="bottom(double)">
                <h3
                    data-c-font-size="h3"
                    data-c-margin="bottom">
                    Breadcrumbs
                </h3>
                {% include "components/breadcrumbs.html" %}
            </div>

            <!-- Buttons =================================================== -->
            <div data-c-padding="bottom(double)">

                <h3
                    data-c-font-size="h3"
                    data-c-margin="bottom">
                    Buttons
                </h3>

                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Variations
                </h4>

                <div data-c-padding="bottom">

                        <div data-c-grid="gutter middle">

                            <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                                <button
                                    data-c-button="solid(c1)"
                                    type="button">
                                    Button
                                </button>
                            </div>

                            <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                                <a
                                    data-c-button="solid(c1)"
                                    href="http://google.com/"
                                    title="Check out Google!">
                                    Hyperlink
                                </a>
                            </div>

                            <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                                <button
                                    data-c-button="solid(c1)"
                                    type="button">
                                    Square
                                </button>
                            </div>

                            <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                                <button
                                    data-c-button="solid(c1)"
                                    data-c-radius="rounded"
                                    type="button">
                                    Rounded
                                </button>
                            </div>

                            <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                                <button
                                    data-c-button="solid(c1)"
                                    data-c-radius="pill"
                                    type="button">
                                    Pill
                                </button>
                            </div>

                        </div>

                </div>

                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Solid
                </h4>

                <div data-c-padding="bottom">

                    <div data-c-grid="gutter middle">

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="solid(c1)"
                                type="button">
                                Theme Colour 01
                            </button>
                        </div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="solid(c2)"
                                type="button">
                                Theme Colour 02
                            </button>
                        </div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="solid(c3)"
                                type="button">
                                Theme Colour 03
                            </button>
                        </div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="solid(c4)"
                                type="button">
                                Theme Colour 04
                            </button>
                        </div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="solid(c5)"
                                type="button">
                                Theme Colour 05
                            </button>
                        </div>

                    </div>

                </div>

                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Outline
                </h4>

                <div data-c-padding="bottom">

                    <div data-c-grid="gutter middle">

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="outline(c1)"
                                type="button">
                                Theme Colour 01
                            </button>
                        </div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="outline(c2)"
                                type="button">
                                Theme Colour 02
                            </button>
                        </div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="outline(c3)"
                                type="button">
                                Theme Colour 03
                            </button>
                        </div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="outline(c4)"
                                type="button">
                                Theme Colour 04
                            </button>
                        </div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="outline(c5)"
                                type="button">
                                Theme Colour 05
                            </button>
                        </div>

                    </div>

                </div>

                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Stoplight
                </h4>

                <div data-c-padding="bottom">

                    <div data-c-grid="gutter middle">

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="solid(go)"
                                type="button">
                                Next Step
                            </button>
                        </div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="solid(slow)"
                                type="button">
                                Be Careful
                            </button>
                        </div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="solid(stop)"
                                type="button">
                                Delete Item
                            </button>
                        </div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)"></div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)"></div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="outline(go)"
                                type="button">
                                Next Step
                            </button>
                        </div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="outline(slow)"
                                type="button">
                                Be Careful
                            </button>
                        </div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="outline(stop)"
                                type="button">
                                Delete Item
                            </button>
                        </div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)"></div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)"></div>

                    </div>

                </div>

                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Disabled
                </h4>

                <div data-c-padding="bottom">

                    <div data-c-grid="gutter middle">

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="solid(c1)"
                                disabled
                                type="button">
                                Disabled
                            </button>
                        </div>

                    </div>

                </div>

                <h3
                    data-c-font-size="h3"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Icons
                </h3>

                <div data-c-padding="bottom">

                    <div
                        data-c-grid="gutter middle"
                        data-c-padding="bottom(half)">

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="solid(c1)"
                                type="button">
                                <i
                                    aria-hidden="true"
                                    class="material-icons">
                                    delete_forever
                                </i>
                                Trash
                            </button>
                        </div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="solid(c1)"
                                type="button">
                                <i
                                    aria-hidden="true"
                                    class="material-icons">
                                    perm_contact_calendar
                                </i>
                                Contact Us
                            </button>
                        </div>

                    </div>

                    <div data-c-grid="gutter middle">

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="outline(c1)"
                                type="button">
                                <i
                                    aria-hidden="true"
                                    class="material-icons">
                                    delete_forever
                                </i>
                                Trash
                            </button>
                        </div>

                        <div data-c-grid-item="tp(1of2) tl(1of3) ds(1of5)">
                            <button
                                data-c-button="outline(c1)"
                                type="button">
                                <i
                                    aria-hidden="true"
                                    class="material-icons">
                                    perm_contact_calendar
                                </i>
                                Contact Us
                            </button>
                        </div>

                    </div>

                </div>

            </div>

            <!-- Cards ===================================================== -->

            <!-- Carousels ================================================= -->
            <!-- <div data-c-padding="bottom(double)">

                <h3
                    data-c-font-size="h3"
                    data-c-margin="bottom">
                    Carousels
                </h3>

                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Image Carousel
                </h4>

                <div data-c-padding="bottom">
                    {% include "components/carousel-image.html" %}
                </div>

                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Content Carousel
                </h4>

                <div>
                    {% include "components/carousel-content.html" %}
                </div>

            </div> -->

            <!-- Dialogues ================================================= -->
            <div data-c-padding="bottom(double)">
                <h3
                    data-c-font-size="h3"
                    data-c-margin="bottom">
                    Dialogs
                </h3>
                {% include "components/dialog.html" %}
            </div>

            <!-- iframes =================================================== -->
            <div data-c-padding="bottom(double)">

                <h3
                    data-c-font-size="h3"
                    data-c-margin="bottom">
                    iframes
                </h3>

                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Videos
                </h4>

                <div data-c-padding="bottom">
                    {% include "components/iframe-video.html" %}
                </div>

                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Maps
                </h4>

                <div>
                    {% include "components/iframe-map.html" %}
                </div>

            </div>

            <!-- Inputs ==================================================== -->
            <div data-c-padding="bottom(double)">

                <h3
                    data-c-font-size="h3"
                    data-c-margin="bottom">
                    Inputs
                </h3>

                <!-- Checkboxes -------------------------------------------- -->
                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Checkboxes
                </h4>

                <form
                    data-c-grid="gutter"
                    data-c-padding="bottom">
                    {% include "components/inputs/checkboxes.html" %}
                </form>

                <!-- Dates ------------------------------------------------- -->
                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Dates
                </h4>

                <form
                    data-c-grid="gutter"
                    data-c-padding="bottom">
                    {% include "components/inputs/dates.html" %}
                </form>

                <!-- Dropdowns --------------------------------------------- -->
                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Dropdowns
                </h4>

                <form
                    data-c-grid="gutter"
                    data-c-padding="bottom">
                    {% include "components/inputs/dropdowns.html" %}
                </form>

                <!-- Emails ------------------------------------------------ -->
                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Emails
                </h4>

                <form
                    data-c-grid="gutter"
                    data-c-padding="bottom">
                    {% include "components/inputs/emails.html" %}
                </form>

                <!-- Numbers ----------------------------------------------- -->
                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Numbers
                </h4>

                <form
                    data-c-grid="gutter"
                    data-c-padding="bottom">
                    {% include "components/inputs/numbers.html" %}
                </form>

                <!-- Passwords --------------------------------------------- -->
                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Passwords
                </h4>

                <form
                    data-c-grid="gutter"
                    data-c-padding="bottom">
                    {% include "components/inputs/passwords.html" %}
                </form>

                <!-- Radio Inputs ------------------------------------------ -->
                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Radio Inputs
                </h4>

                <form
                    data-c-grid="gutter"
                    data-c-padding="bottom">
                    {% include "components/inputs/radio.html" %}
                </form>

                <!-- Ranges ------------------------------------------------ -->
                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Ranges
                </h4>

                <form
                    data-c-grid="gutter"
                    data-c-padding="bottom">
                    <p data-c-grid-item="base(1of1)">Coming Soon</p>
                    <!-- {% include "components/inputs/ranges.html" %} -->
                </form>

                <!-- Text -------------------------------------------------- -->
                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Text Inputs
                </h4>

                <form
                    data-c-grid="gutter"
                    data-c-padding="bottom">
                    {% include "components/inputs/text.html" %}
                </form>

                <!-- Input w Button ---------------------------------------- -->
                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Text w/ Button
                </h4>

                <form
                    data-c-grid="gutter"
                    data-c-padding="bottom">
                    {% include "components/inputs/with-button.html" %}
                </form>

                <!-- Textareas --------------------------------------------- -->
                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Textareas
                </h4>

                <form
                    data-c-grid="gutter"
                    data-c-padding="bottom">
                    {% include "components/inputs/textarea.html" %}
                </form>

                <!-- Uploads ----------------------------------------------- -->
                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    Uploads
                </h4>

                <form
                    data-c-grid="gutter"
                    data-c-padding="bottom">
                    <p data-c-grid-item="base(1of1)">Coming Soon</p>
                    <!-- {% include "components/inputs/uploads.html" %} -->
                </form>

                <!-- URLs -------------------------------------------------- -->
                <h4
                    data-c-font-size="h4"
                    data-c-font-colour="c2"
                    data-c-margin="bottom(half)">
                    URLs
                </h4>

                <form data-c-grid="gutter">
                    {% include "components/inputs/urls.html" %}
                </form>

            </div>

            <!-- Navigation ================================================ -->
            <!--<div class="padding-bottom--double">

                <h3 class="heading--03 margin-bottom">Navigation</h3>

                <button
                    class="clone-button--c1 solid"
                    data-mobile-navigation-trigger
                    type="button">
                    Mobile Navigation
                </button>

                <div class="navigation--top simple background-c2">
                    <ul>
                        <li><a href="" title="">Menu Item 01</a></li>
                        <li>
                            <a href="" title="">Menu Item 02</a>
                            <div class="subnavigation">
                                <ul>
                                    <li><a href="" title="">Submenu Item 01</a></li>
                                    <li><a href="" title="">Submenu Item 02</a></li>
                                    <li><a href="" title="">Submenu Item 03</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="" title="">Menu Item 03</a></li>
                        <li><a href="" title="">Menu Item 04</a></li>
                        <li><a href="" title="">Menu Item 05</a></li>
                    </ul>
                </div>

                <div class="navigation--top mega">

                </div>

                <div class="navigation--side">

                </div>

            </div>-->

            <!-- Pullquotes ================================================ -->
            <div data-c-padding="bottom(double)">
                <h3
                    data-c-font-size="h3"
                    data-c-margin="bottom">
                    Pullquotes
                </h3>
                {% include "components/pullquote.html" %}
            </div>

            <!-- Skip-to-content Links ------------------------------------- -->
            <div data-c-padding="bottom(double)">
                <h3
                    data-c-font-size="h3"
                    data-c-margin="bottom">
                    Skip-to-content Links
                </h3>
                <p data-c-margin="bottom">Tab to this spot to view the link.</p>
                {% include "components/skip-to-content.html" %}
            </div>

            <!-- Tables ==================================================== -->
            <div>
                <h3
                    data-c-font-size="h3"
                    data-c-margin="bottom">
                    Tables
                </h3>
                {% include "components/table.html" %}
            </div>

            <!-- Tags ====================================================== -->
            <!--<div class="">
                <h3 class="heading--03 margin-bottom">Tags</h3>
            </div>-->

        </div>

        <!--build:js js/clone.min.js-->
        <script src="js/clone.js"></script>
        <!--endbuild-->

    </body>

</html>
