<div data-c-input="radio">
    <label for="RG2">I want the following hideout:</label>
    <span>Required</span>
    <div id="RG2" role="radiogroup">
        <label for="rB1">
            <input id="rB1" required name="radioB" type="radio" />
            <span>Crystal Fortress</span>
        </label>
        <label for="rB2">
            <input id="rB2" required name="radioB" type="radio" />
            <span>Secret Cave Lair</span>
        </label>
        <label for="rB3">
            <input id="rB3" required name="radioB" type="radio" />
            <span>Orbiting Space Station</span>
        </label>
        <label for="rB4">
            <input id="rB4" required name="radioB" type="radio" />
            <span>Public Hall</span>
        </label>
    </div>
    <span>This input has an error.</span>
</div>