<div data-c-alert="error" data-c-radius="base(rounded)" role="alert">
    <div data-c-padding="base(all, .5)">
        <!-- Optional Close Trigger -->
        <button data-c-alert-close-trigger data-c-padding="base(all, .5)">
            <!-- Icon Font, Span, or Image -->
            <span data-c-font-size="base(h4)" data-c-font-weight="base(bold)">x</span>
        </button>
        <!-- Title w/ Icon Font, Span, or Image -->
        <p data-c-margin="base(bottom, .5)" data-c-font-weight="base(bold)"><span data-c-font-size="base(h4)" data-c-margin="base(right, .25)">(!)</span>Alert Title
        </p>
        <!-- Content -->
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe quia maiores in voluptate voluptatibus incidunt ut voluptas inventore earum facere unde veniam perspiciatis illo soluta, doloribus cum illum totam officia.</p>
    </div>
</div>
